*{
	margin:0;
	padding:0;
	font-family:"微软雅黑";
	max-height:9999px;
	box-sizing:border-box;
}
ul,li,ol{
	list-style:none;
}
a{
	text-decoration:none;
	color:#222222;
}
#carousel{
	overflow: hidden;
    position: relative;
	height:400px;
}
#carousel div.swiper-wrapper{
	overflow:hidden;
	width:2250px;
}
#carousel div.swiper-wrapper>div{
	float:left;
	height:400px;
}
#carousel div.swipe-wrap>div>img{
	width:100%;
	height:100%;
}
#carousel ul{
	position:absolute;
	overflow:hidden;
	bottom:15px;
	left:315px;
}
#carousel ul li{
	height:25px;
	width:25px;
	border-radius:50%;
	float:left;
	margin-left:10px;
	background:#B2B2B2;
}
#carousel ul li:first-child{
	margin-left:0;
}
#carousel ul li.active{
	background:#97A7CA;
}
.splist{
	font-size:25px;
	height:55px;
	line-height:55px;
	background:#E5E5E5;
	color:#5371b1;
	padding-left:30px;
}
.wraper{
	padding:20px 30px;
	background:#f6f6f6;
}
.wraper .orderList li{
	padding:15px;
	overflow:hidden;
	border:1px solid #DCDCDC;
	border-radius:3px;
	margin-top:25px;
	background:#fff;
	font-size:20px;
}
.wraper .orderList li:first-child{
	margin:0;
}
.wraper .orderList li a>div{
	float:left;
}
.wraper .orderList li a>div.picture{
	width:270px;
	height:165px;
}
.wraper .orderList li a>div.content{
	width:388px;
	height:165px;
	position:relative;
	padding-left:15px;
}
.wraper .orderList li a>div.picture img{
	height:100%;
	width:100%;
}
.wraper .orderList li a>div.content h5{
	font-weight:normal;
	font-size:20px;
	color:#222;
}
.wraper .orderList li a>div.content .person{
	bottom:0;
	position:absolute;
	width:100%;
	padding-right:15px;
}
.wraper .orderList li a>div.content .person p>span{
	float:right;
}
.wraper .orderList li a>div.content .person p{
	margin-top:10px;
}
.wraper .orderList li a>div.content .person p>span img{
	position:relative;
	top:2px;
	left:-5px;
}
.wraper .orderList li a>div.content .person .nowplay{
	color:#f00;
}