<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/public/css/base.css" rel="stylesheet" type="text/css" />
<link href="/public/css/style.css" rel="stylesheet" type="text/css" />
<link href="/public/kindeditor/themes/default/default.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="/public/js/jquery.js"></script>
<script type=text/javascript src="/public/js/duxui.js"></script>
<script type=text/javascript src="/public/dialog/jquery.artDialog.js?skin=default"></script>
<script type=text/javascript src="/public/dialog/plugins/iframeTools.js"></script>
<script type=text/javascript src="/public/kindeditor/kindeditor-min.js"></script>
<script type=text/javascript src="/public/kindeditor/lang/zh_CN.js"></script>
<script type=text/javascript src="/public/js/common.js"></script>
</head>
<body scroll="no">

<div class="page_form">
<form action="__URL__/{$action}_save/time-<?php echo time(); ?>-ajax-true" method="post" id="form">
<div class="page_table form_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    
      
         <tr>
        <td width="50">内容</td>
        <td width="300">
         
          <textarea name="content" style="width:100%; height:100px;" id="des">{$info.content}</textarea>
         
        </td>
      </tr>
    
    </table>
</div>

<div class="form_submit">
<input name="id" type="hidden" value="{$info.id}" />
<button type="submit" class="button">保存</button> 
</div>
</form>
</div>
</div>
<script type="text/javascript">
var win = art.dialog.open.origin;
saveform({
	success:function(){
		win.location.reload();
		art.dialog.close();
	},
	failure:function(msg){
		tip({msg:msg});
	}}
);
</script>
</body>