<div id="login" class="warp">
  <div id="main" class="reg">
   <div id="header">
      <div class="title">
        <h1>会员密码找回</h1>
        <div class="small">Forgot Password</div>
      </div>
      <div class="fn-clear"></div>
    </div>
  
  <div class="fn-clear"></div>
  
  <div id="reg_head">
  	<ul>
    	<li>
        	<span class="num">1</span>
            <span class="title">找回密码</span>
        </li>
        <li>
        	<span class="num">2</span>
            <span class="title">邮件验证</span>
        </li>
        <li class="current">
        	<span class="num">3</span>
            <span class="title">修改密码</span>
        </li>
        <div class="fn-clear"></div>
    </ul>
  </div>
  <div class="content">
  <center>
  <h1><img src="__PUBLIC__/images/checkmark.png" width="64" height="64">恭喜您<span class="red">{$info['nicename']} ({$info['username']})</span> 密码找回成功！</h1>
  登录后您可以享受本站更多精彩的服务，请进入<a href="__APP__/login.html">登录页面</a><br>
    <a href="__APP__/">返回会员中心</a>&nbsp;&nbsp;&nbsp;<a href="<?php echo ROOTAPP ?>">返回首页</a>
  </center>
  </div>
  <div class="fn-clear"></div>
  <div class="sep10"></div>
  <div class="sep10"></div>
  <div class="sep10"></div>
  <div class="sep10"></div>
  </div>
</div>