<div class="page_form">
<form action="__URL__/edit_save/time-<?php echo time(); ?>-ajax-true" method="post" id="form">
<div class="box-body">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
    
    
      <tr>
        <td width="120">名称</td>
        <td width="300">
        <input name="name" type="text" class="form-control" id="name" value="{$info.nicename}" reg="\S" msg="名称不能为空" />
        </td>
        <td></td>
      </tr>
      
       <tr>
        <td width="100">LOGO</td>
        <td colspan="2">
          <?php echo module('editor')->get_image_upload('image1','image',false,'editor_content') ?>
          <input name="logo" type="text" class="form-control" id="image" style="width:220px; float:left" value="{$info.logo}"/> 
          &nbsp;&nbsp;<input type="button" id="image1" class="button_small" value="选择图片" />
       
        </td>
        <td></td>
        </tr>
        <tr>
        <td width="100">介绍图片</td>
        <td colspan="2">
          <?php echo module('editor')->get_image_upload('desimage1','desimage',false,'editor_content') ?>
          <input name="desimage" type="text" class="form-control" id="desimage" style="width:220px; float:left" value="{$info.desimage}"/> 
          &nbsp;&nbsp;<input type="button" id="desimage1" class="button_small" value="选择图片" />
       
        </td>
        <td></td>
        </tr>
             <tr>
      <td width="100" align="right">关于我们</td>
      <td width="300">
        <?php echo module('editor')->get_editor('about'); ?>
      <textarea name="about" class="text_textarea" id="about">{$info.about}</textarea></td>
      <td></td>
    </tr>
    </table>
</div>

<div class="form_submit">
<input name="id" type="hidden" value="{$info.id}" />
<button type="submit" class="button">保存</button> 
</div>
</form>
</div>
<script type="text/javascript">
//提交表单
savelistform({addurl:"__URL__/set",listurl:"__URL__/set"});
</script>