<div id="phonetemplate">
    	
       <div id="myiframe">
       		
       		
            <div id="fakebody">
            <!--if:{$class_info['cid']==16}-->
            	<div class="remain">
                	<p>距离直播还有：</p>
					<p id="remainTime"></p>
                </div>
                <!--{/if}--> 
            </div>
            
            
       		<div id="fakebutton">
            	
            </div>
            
            <div id="iframek">
            	
            </div>
       </div>
        
    </div>
    
    
    

<script>
	var imageurl="{$sys.imageurl}";
</script>

<link href="/public/data/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
<script src="/public/data/js/jquery.mCustomScrollbar.concat.min.js"></script>
<link href="/public/data/css/phone.css" rel="stylesheet" type="text/css">
<script src="/public/data/js/newphone.js" type="text/javascript"></script>

<style>
	#myiframe #fakebutton{
		height: initial;
	}
</style>
<script>
	

</script>