<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{$css}
{$js}
</head>
<body scroll="no">
<div class="page_function">
  <div class="info">
    <h3>{$action_name}</h3>
    <small>使用以下功能进行讨论组修改{$action_name}</small> 
  </div>
</div>
<div class="page_form">

<div class="page_table form_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    

      <tr>
        <td width="20%">姓名</td>
        <td >
      操作
        </td>
      </tr>
     
     <!--foreach:{$list $vo}-->
     <tr>
        <td width="20%">{$vo.realname}</td>
        <td >
       &nbsp;&nbsp;<a  href="javascript:void(0);" onclick="apply('{$vo.id}',this)">审核</a>
         &nbsp;&nbsp;<a  href="javascript:void(0);" onclick="del('{$vo.id}',this)">删除</a>
        </td>
      </tr>
      <!--{/foreach}-->
    </table>
</div>



</div>
</div>
<script type="text/javascript">
//修改
function apply(id,obj) {
	
	var obj;
	ajaxpost({
		name:'通过此人审核信息! ',
		url:"__URL__/doapply",
		data:{id: id},
		tip:1,
		success:function(){
			$(obj).parent().parent().remove();
		}
	});
	
	
};

//删除
function del(id,obj) {
	var obj;
	ajaxpost({
		name:'删除此人审核信息! ',
		url:"__URL__/delapply",
		data:{id: id},
		tip:1,
		success:function(){
			$(obj).parent().parent().remove();
		}
	});
}
</script>
</body>