<div class="page_function">
  <div class="info">
    <h3>广告位管理</h3>
    <!--<small>将栏目与广告位进行绑定来实现附加字段功能</small> --></div>
  <div class="exercise"> 
   <a href="javascript:menuload('__URL__')">广告位列表</a>
   <?php if(model('user_group')->model_power('expand_model','add')){ ?>
   <a href="javascript:;" onclick="add()">添加广告位</a>
   <?php } ?>
  
   </div>
</div>
<div class="page_main">
  <div class="page_table table_list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="10%"><center>ID</center></th>
        <th width="30%">广告位名称</th>
        <th width="30%"><center>排序</center></th>
        <th width="30%"><center>广告位操作</center></th>
      </tr>
      <!--foreach:{$list $vo}-->
      <tr>
        <td><center>{$vo.id}</center></td>
        <td>{$vo.name}</td>
       
        <td><center>{$vo.sequence}</center></td>
        <td><center>
         &nbsp;&nbsp;<a  href="__URL__/adlist/pid-{$vo.id}" >广告设定</a>
        
         &nbsp;&nbsp;<a  href="javascript:void(0);" onclick="edit('{$vo.id}')">修改</a>
       
       
         
         &nbsp;&nbsp;<a href="javascript:void(0);" onclick="del('{$vo.id}',this)">删除</a>
       
         </center></td>
      </tr>
      <!--{/foreach}-->
    </table>
  </div>
</div>

<div class="page_tool">
  <div class="page">{$page}</div>
</div>
<script>
//添加
function add() {
	urldialog({
	title:'广告位添加',
	url:'__URL__/addposition'
	});
};
//添加
function people(url) {
	urldialog({
	title:'广告位人员',
	url:'__URL__/people/id-'+url
	});
};


//修改
function edit(url) {
	urldialog({
	title:'广告位编辑',
	url:'__URL__/editposition/id-'+url
	});
};

//删除
function del(id,obj) {
	var obj;
	ajaxpost({
		name:'删除广告位后会同时广告位下级内容! ',
		url:"__URL__/delposition",
		data:{id: id},
		tip:1,
		success:function(){
			$(obj).parent().parent().parent().remove();
		}
	});
}
</script>