<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{$css}
{$js}
</head>
<body scroll="no">
<div class="page_function">
  <div class="info">
    <h3>直播通道{$action_name}</h3>
    <small>使用以下功能进行直播通道修改{$action_name}</small> 
  </div>
</div>
<div class="page_form">
<form action="__URL__/{$action}_save/time-<?php echo time(); ?>-ajax-true" method="post" id="form">
<div class="page_table form_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="120">学校名称</td>
        <td width="300">
        <input name="name" type="text" class="text_value" id="name" value="{$info.name}" reg="\S" msg="学校名称值不能为空" />
        </td>
      </tr>
      <tr>
        <td width="120">采集地址</td>
        <td width="300">
        <input name="url" type="text" class="text_value" id="name" value="{$info.url}" reg="\S" msg="通道名称值不能为空" />
        </td>
      </tr>
      <tr>
        <td width="120">域名设置</td>
        <td width="300">
        <input name="domain" type="text" style="width:227px;" class="text_value" id="name" value="{$info.domain}" reg="\S" msg="域名不能为空" />
        <span>.tuoz.com</span>
        </td>
      </tr>
      <tr>
        <td width="120">token</td>
        <td width="300">
        <input name="token" type="text" class="text_value" id="name" value="{$info.token}" reg="\S" msg="token不能为空" />
        </td>
      </tr>
      <tr>
        <td width="120">key</td>
        <td width="300">
        <input name="api" type="text" class="text_value" id="name" value="{$info.api}" reg="\S" msg="本地vServer值不能为空" />
        </td>
      </tr>
    </table>
</div>

<div class="form_submit">
<input name="id" type="hidden" value="{$info.id}" />
<button type="submit" class="button">保存</button> 
</div>
</form>
</div>
</div>
<script type="text/javascript">
var win = art.dialog.open.origin;
saveform({
	success:function(){
		win.location.reload();
		art.dialog.close();
	},
	failure:function(msg){
		tip({msg:msg});
	}}
);
</script>
</body>