<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册</title>
<link href="__APP__/../public/css/login.css" type="text/css" rel="stylesheet">
<script type=text/javascript > var app="/user/index.php" </script>
<script type=text/javascript src="/public/js/jquery.js"></script>
<script type=text/javascript src="/public/js/duxui.js"></script>
<script type=text/javascript src="/public/js/common.js"></script>
<script type=text/javascript src="/public/dialog/jquery.artDialog.js?skin=default"></script>
<script type=text/javascript src="/public/dialog/plugins/iframeTools.js"></script>
<script type=text/javascript src="/public/kindeditor/kindeditor-min.js"></script>
<script type=text/javascript src="/public/kindeditor/lang/zh_CN.js"></script>
<script type=text/javascript src="/user/public/js/swfobject.js"></script>
<script type=text/javascript src="/user/public/js/jquery.lhgcalendar.js"></script>
<script type=text/javascript src="/user/public/js/jquery.duxnotice.js"></script>
<script type=text/javascript src="/user/public/js/jquery.duxform.js"></script>
<script type=text/javascript src="/user/public/js/jquery.common.js"></script>
</head>

<body>
  <div class="loginBox">
      <div class="topReg"></div>
        <div class="regCon">
          <div class="regBody">
            <form action="__URL__/data.html" method="post" id="form">
              <p>以下注册信息均为必填项</p>
                <div class="name"><input name="username" type="text" placeholder="请输入用户名" class="wenben" id="username" reg="^(?!_)(?!.*?_$)[\w]{{$user_config.reg_username_length_min},{$user_config.reg_username_length_max}}$" msg="用户名只能为字母数字下划线组成且支持{$user_config.reg_username_length_min}~{$user_config.reg_username_length_max}位" /></div>
                <div class="name"><input name="nicename" type="text" placeholder="请输入用昵称" class="wenben" id="nicename" reg="^(?!_)(?!.*?_$)[\u4e00-\u9fa5\w\-]{{$user_config.reg_username_length_min},{$user_config.reg_username_length_max}}$" msg="昵称只能为中英文数字与下划线且支持{$user_config.reg_username_length_min}~{$user_config.reg_username_length_max}位" ></div>
                <div class="password"><input name="password" type="text" placeholder="请输入密码" class="wenben"  id="password" reg="\S{{$user_config.reg_password_length_min},{$user_config.reg_password_length_max}}" msg="密码不能为空且支持{$user_config.reg_password_length_min}~{$user_config.reg_password_length_max}位"  /></div>
                <div class="password"><input name="password2" type="text" placeholder="请再次输入密码" class="wenben"  id="password2" repeat="#password" reg="\S" msg="密码重复输入错误" /></div>
                <div class="eMail"><input name="email" type="text" placeholder="请输入常用邮箱" class="wenben"  id="email" reg="^\w+([-\.]\w+)*@\w+([\.-]\w+)*\.\w{2,4}$" msg="请输入正确的邮箱地址" /></div>
                <div class="verify">
            <?php echo model('verification')->verify_image1('reg'); ?></div>
                <div class="read"><input name="agreement" type="checkbox" value="1" type="checkbox"/>我已仔细阅读并同意<a href="__URL__/agreement.html" target="_blank">注册协议</a>》</div>
                <div class="btn"><input type="submit" value="注 册" class="submit" />or 已注册，请 <a href="#">登录</a></div>
            </div>
          </form>
        </div>
    </div>
    <script>
saveform({
  success:function(url){
    window.location.href=url;
  },
  failure:function(msg){
    $.duxnotice.failure(msg);
    fleshVerify();
  }
});
</script> 
</body>
</html>
