*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
}
ul,ol,li{
	list-style: none;
}
img { border: 0;  }
a{
	text-decoration: none;
}
input{
	outline: none;
}
.clear{
	clear: both;
}
.h1, .h2, .h3, h1, h2, h3{
	margin:0;
}

.head{
	height:80px;
	background:#fff;
	position:relative;
}
.userlogo{
	position:absolute;
	top:0;
	right:10px;
	height:80px;
	padding:15px 0;
}
.userlogo a{
	display: inline-block;
    font-size: 12px;
    color: #4a4a4a;
    padding: 5px 10px;
    background: #ddd;
    border-radius: 3px;
    position: relative;
    top: -10px;
}
.head .headc{
	width:1100px;
	margin:0 auto;
	height:80px;
}
.headc .headnav{
	overflow:hidden;
	float:left;
	line-height:80px;
}
.headc .headnav li{
	float:left;
	margin-right:10px;
}
.navright{
	float:right;
	overflow:hidden;
}
.headc .headnav li a{
	display:inline-block;
	font-size:16px;
	color:#a0a0a0;
	padding:0 20px;
	height:32px;
	line-height:32px;
	border-radius:15px;
}
.headc .headnav li.active a{
	color:#fff;
	background:#18A4EC;
} 
.head .headc .headlogo{
	height:50px;
	margin-top:15px;
}
.headc .navlogin{
	float:left;
	margin-top:25px;
}
.headc .navlogin form{
	width:165px;
	position:relative;
	display:inline-table;
}
.headc .navlogin form input{
	height:30px;
	width:100%;
	border:1px solid #A0A0A0;
	border-radius:15px;
	padding-right:35px;
	padding-left:15px;
}
.headc .navlogin form button{
	position:absolute;
	top:1px;
	right:5px;
	height:28px;
	width:28px;
	background-image:url(../img/search.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:18px;
	background-color:transparent;
	border:0;
} 
.headc .navlogin a.login{
	color:#a0a0a0;
	font-size:16px;
}
.banner{
	height:600px;
	overflow:hidden;
}
.banner img{
	height:100%;
	width:100%;
}
.slideBox{
	position:relative;
}
.slideBox .bd {
    position: relative;
    height: 600px;
    z-index: 0;
}
.slideBox .bd a{
	display:block;
	height:100%;
}
.slideBox .bd ul{
	height:100%;
}
.slideBox .bd .tempWrap{
	height:100%;
}
.slideBox .bd li{
	height:100%;
}
.slideBox.banner2 .bd{
	height:400px;
}
.slideBox .hd a{
	position:absolute;
	width: 70px;
    height: 70px;
    background: url(../img/right.png) no-repeat rgba(0,0,0,0.1);
    position: absolute;
    top: 240px;
    z-index: 100;
    cursor: pointer;
}
.slideBox.banner2 .hd a{
	top:140px;
}
.slideBox .hd a.next{
	right:1%;
}
.slideBox .hd a.prev{
	left:1%;
	background: url(../img/left.png) no-repeat rgba(0,0,0,0.1);
}
.slideBox  .bd li {
    zoom: 1;
    vertical-align: middle;
}
.bian{
	height:52px;
	position:relative;
}
.bian img{
	height:100%;
	width:100%;
}
.bian_top{
	top:-45px;
}
.bian_bottom{
	bottom:-45px;
}
.mainall{
	width:1100px;
	margin:0 auto;
}
.min_searchk{
	min-height:550px;
}
.schoolvideo{
	position:fixed;
	bottom:10%;
	left:30px;
	z-index:100;
}
.ctitle{
	color:#18a4ec;
	font-size:30px;
	text-align:center;
}
.idx_nav{
	text-align:center;
	margin:20px 0 30px 0;
}
.idx_nav a{
	display:inline-block;
	width:100px;
	height:40px;
	border:1px solid #70C7F3;
	color:#b2b2b2;
	line-height:40px;
	text-align:center;
}
.idx_nav a:first-child{
	border-radius:20px 0 0 20px;
	border-right:0;
}
.idx_nav a:last-child{
	border-radius:0 20px 20px 0;
	border-left:0;
}
.idx_nav a.active{
	background:#18A4EC;
	color:#fff;
}
ul.mbul{
	overflow:hidden;
}
ul.mbul li{
	float:left;
	width:320px;
	height:280px;
	border-radius:3px;
	margin-right:70px;
	margin-bottom:40px;
}
ul.mbul li:hover{
	box-shadow: 7px 7px 10px 0px #e1e9ef;
}
ul.mbul li:nth-child(3n){
	margin-right:0;
}
.videoimg{
	height:200px;
	position:relative;
	border-radius: 3px 3px 0 0;
}
.videoimg .saoma{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
	text-align:center;
	display:none;
}
.videoimg .saoma p{
	color:#fff;
	font-size:16px;
	margin: 20px 0 10px 0;
}
.videoimg .saoma .spqr{
	width:120px;
	height:120px;
}
.videoimg .spimg{
	height:100%;
	width:100%;
	border-radius: 3px 3px 0 0;
}
.videotext{
	height:80px;
	border:1px solid #E6EDF4;
	border-top:0;
	border-radius: 0 0 3px 3px;
	padding: 13px 7px;
}
.videotext h5 {
    font-weight: normal;
    color: #111111;
    font-size: 14px;
    margin-bottom: 15px;
}
.videotext p span {
    color: #9FA0A0;
    font-size: 12px;
}
.videotext p span img {
    height: 23px;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.more{
	font-size: 14px;
	color: #111;
	display: block;
	margin: 0 auto;
	width: 157px;
	height: 47px;
	line-height: 45px;
	border: 1px solid #DEDEDE;
	border-radius: 3px;
	text-align: center;
	box-shadow: 2px 2px 10px 0px rgba(219,227,233,0.75);
	clear: both;
	background: #fff;
}
.teacherk{
	padding-bottom:90px;
	background:#A7E0FD;
	padding-top:80px;
}
.teacherk ul{
	overflow:hidden;
	padding-top:50px;
	height:460px;
	margin-top:30px;
}
.teacherk li{
	float:left;
	width:260px;
	height:310px;
	background:#FFFFFF;
	overflow:hidden;
	border:1px solid #E0E0E0;
	border-top:5px solid #E0E0E0;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	position:relative;
}
.teacherk li.active{
	width:320px;
	height:410px;
	border-color:#18A4EC;
	top:-50px;
}
.teacherk li a,.teacherlistk>ul li a{
	display:block;
	padding:0 8px;
	color:#808080;
	font-size:12px;
}
.teacherk li .showtop,.teacherlistk>ul li .showtop{
	text-align:center;
	padding:30px 0;
}
.teacherk li .showtop img,.teacherlistk li .showtop img{
	width:150px;
	height:150px;
	border:10px solid #ECECEC;
	border-radius:50%;
	margin-bottom:35px;
}
.teacherk li .showtop p,.teacherlistk li .showtop p{
	font-size:14px;
	margin-bottom:10px;
	color:#000;
}
.teacherk li .showtop p.btxt,.teacherlistk li .showtop p.btxt{
	margin-bottom:0;
}
.teacherk .heng,.teacherlistk .heng{
	height:0;
	width:0;
	display:block;
	margin:0 auto;
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.teacherlistk .heng{
	height:3px;
	width:200px;
	background:#E0E0E0;
}
.teacherk li.active .heng,.teacherlistk>ul li:hover .heng{
	height:3px;
	width:100%;
	background:#18A4EC;
}
.teacherk li p.tjtxt,.teacherlistk li p.tjtxt{
	padding:20px 15px 0;
}
.teacherlistk>ul li:hover{
	border-color:#18A4EC;
}
.banner2{
	height:400px;
	overflow:hidden;
}
.banner2 img{
	height:100%;
	width:100%;
}
.teacherlistk{
	margin-top:30px;
	margin-bottom:135px;
}
.teacherlistk>ul{
	overflow:hidden;
}
.teacherlistk>ul li{
	width:325px;
	height:410px;
	float:left;
	border:1px solid #E0E0E0;
	border-top:5px solid #E0E0E0;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	margin-right:62.5px;
	margin-bottom:40px;
}
.teacherlistk>ul li:nth-child(3n){
	margin-right:0;
}
.page{
	text-align:center;
}
.page ul{
	text-align: center;
    overflow: hidden;
    display: inline-block;
}
.page ul li{
	display: inline-block;
    vertical-align: middle;
    float: left;
}
.page ul li a{
	display: block;
	color: #919294;
	padding: 5px 11px;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
}
.page ul li a.current{
	background:#22B9FF;
	color:#fff;
}
.teahead{
	background:#A7E0FD;
}
.teacherbg{
	width:1100px;
	margin:0 auto;
	padding-bottom:70px;
	padding-top:45px;
	overflow:hidden;
}
.teacherbg>div{
	float:left;
}
.teacherbg div.bghead{
	width:245px;
	text-align:center;
}
.teacherbg>div.bghead img{
	width:140px;
	height:140px;
	border-radius:50%;
	border:7px solid #EFEFEF;
}
.teacherbg div.bgtext{
	width:855px;
	padding-top:20px;
}
.teacherbg div.bgtext h5{
	font-weight:normal;
	font-size:24px;
}
.teacherbg div.bgtext .thjianjie{
	font-size:12px;
	margin-top:15px;
	line-height:25px;
}
.thvideo{
	margin-top:45px;
	margin-bottom:140px;
}
.listk{
	margin-top:45px;
	margin-bottom:140px;
}
.videoidx>div{
	display:none;
}
.videoidx>div.active{
	display:block;
}
.search_result{
	
	line-height:40px;
	background:#dcdcdc;
}
.search_result p{
	width:1100px;
	margin:0 auto;
	font-size:14px;
}
.search_result p span{
	color:#2AADFD;
}
.searchlist{
	padding:40px 0;
}
.shvideo{
	overflow:hidden;
	border:1px solid #D2D2D2;
	padding-bottom:5px;
	background:#fff;
	margin-bottom:50px;
}
.shvideo>div{
	float:left;
}
.shvideo>div.svideok{
	width:674px;
}
.shvideo>div.svideolist{
	width:424px;
}
.shvideo>div.svideok .vtitle{
	border-right:1px solid #D2D2D2;
}
.shvideo>div.svideok .vtitle .ssaoma{
	float:right;
	line-height:40px;
	position:relative;
}
.shvideo>div.svideolist .vtitle a{
	float:right;
	color:#18a4ec;
}
.shvideo>div.svideolist ul{
	padding:0 5px;
	height:440px;
	overflow-y:auto;
}
.shvideo>div.svideolist ul li{
	height:110px;
	border-bottom:1px dashed #DADADA;
	padding:5px 10px;
}
.shvideo>div.svideolist ul li a>div{
	float:left;
	height:98px;
	width:50%;
}
.shvideo>div.svideolist ul li a{
	display:block;
}
.shvideo>div.svideolist ul li div.svideoimg img{
	width:100%;
	height:100%;
}
.shvideo>div.svideolist ul li div.svideotxt{
	color:#787878;
	font-size:12px;
	padding-left:10px;
	padding-top:30px;
} 
.shvideo>div.svideok .vtitle .ssaoma .smqr{
	height:30px;
	width:30px;
	border:1px solid #000;
	vertical-align:middle;
}
.shvideo>div.svideok .vtitle .ssaoma .bgqr{
	width:100px;
	height:100px;
	position:absolute;
	border:1px solid #000;
	top: 40px;
    right: 0;
	display:none;
}
.shvideo .vtitle{
	height:40px;
	line-height:40px;
	background:#EEEEEE;
	padding:0 10px;
	font-size:14px;
}

.shvideo #play,.shvideo  #a1{
	height:440px;
}
.bjtu{
	height:440px;
	background-image:url(../img/novideo.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
}























.footer{
	height: 230px;
	background: #18A4EC;
}
.footer .footk{
	width: 1100px;
	margin: 0 auto;
	padding-left: 50px;
	overflow: hidden;
	padding-top: 30px;
}
.footk>div{
	width: 205px;
	float: left;
}
.footer .foottitle{
	font-size: 14px;
	color: #fff;
	padding-bottom: 12px;
	background-image: url(../img/foott.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.footk .foot1 ul,.footk .foot2 ul{
	padding-left: 5px;
	padding-top: 15px;
}
.footk .foot1 ul{
	width: 350px;
}
.footk .foot1 ul li{
	height: 27px;
	line-height: 27px;
	font-size: 12px;
	color: #d0cfcf;
	margin-bottom: 15px;
}
.footk .foot1 ul li>*{
	vertical-align:middle;
}
.footk .foot1 ul li img{
	margin-right:10px;
}
.footk .foot1,.footk .foot2{
	margin-right: 160px;
}
.footk .foot2 ul{
	overflow: hidden;
}
.footk .foot2 ul li{
	float: left;
	width: 50%;
	font-size: 12px;
	margin-bottom: 8px;
}
.footk .foot2 ul li a:hover{
	text-decoration:underline;
}
.footk .foot3 .qr{
	width: 130px;
	height: 130px;
	margin: 15px 0 0 25px;
}
.footk  ul li a {
    color: #fff;
}
.footk  ul li a:hover {
    text-decoration: underline;
}

.loginbg{
	background:#CFFEFF;
	padding:95px 0;
}
.logins{
	width:400px;
	height:380px;
	margin:0 auto;
	background: rgba(255,255,255,.5);
	padding: 10px;
}
.logink{
	height:100%;
	background:#fff;
}
.logink .loginnav{
	overflow:hidden;
}
.logink .loginnav a{
	float:left;
	width:50%;
	background: #bdf4f5;
    color: #bbb;
	height: 50px;
    text-align: center;
    line-height: 50px;
}
.logink .loginnav a.active{
	background: #fff;
    color: #505050;
}
.loginmain{
	padding-top:40px;
	text-align:center;
}
.loginmain p{
	font-size:18px;
	margin-bottom:20px;
}
.loginmain img{
	width: 185px;
    height: 185px;
    border: 1px solid #000;
    padding: 10px;
}



.videotitle p{
	line-height:60px;
	width:1100px;
	margin:0 auto;
	text-align:left;
	clear:both;
	font-size:12px;
}
.videotitle p a{
	color:#111;
}
.videotitle p a:first-child{
	font-size:16px;
}
.videotitle{
	height:60px;
	background:#EBEBEB;
}
.videobg{
	background:#F7F7F7;
	padding-bottom:20px;
}
.contentBox{
	width:1100px;
	margin:0 auto;
}
.contentBox h3{
	font-size:22px;
	font-weight:normal;
	line-height:80px;
	position:relative;
}
.contentBox h3 .smqr{
	float:right;
	height:55px;
	width:55px;
	margin-top:12.5px;
	border:1px solid #000;
}
.contentBox h3 .bgqr{
	position:absolute;
	right:0;
	top:75px;
	height:170px;
	width:170px;
	border:1px solid #000;
	display:none;
	z-index:100;
}
#play,#a1{
	height:400px;
	background:#000;
}
.othershutter .nav-arrows li{
	top:165px;
}
.down {
    font-size: 45px;
    height: 400px;
    position: absolute;
    text-align: center;
    top:80px;
    width: 1100px;
}
.down .endtime i{
	font-style:inherit;
}
.contentBox #mymodal{
	left:305px;
}
