*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
}
ul,ol,li{
	list-style: none;
}
img { border: 0;  }
a{
	text-decoration: none;
}
input{
	outline: none;
}
.clear{
	clear: both;
}
.h1, .h2, .h3, h1, h2, h3{
	margin:0;
}

.head{
	height:80px;
	background:#fff;
}
.head .headc{
	width:1100px;
	margin:0 auto;
	height:80px;
}
.headc .headnav{
	overflow:hidden;
	float:left;
	line-height:80px;
}
.headc .headnav li{
	float:left;
	margin-right:10px;
}
.navright{
	float:right;
	overflow:hidden;
}
.headc .headnav li a{
	display:inline-block;
	font-size:16px;
	color:#a0a0a0;
	padding:0 20px;
	height:32px;
	line-height:32px;
	border-radius:15px;
}
.headc .headnav li.active a{
	color:#fff;
	background:#3FD7DA;
} 
.head .headc .headlogo{
	height:50px;
	margin-top:15px;
}
.headc .navlogin{
	float:left;
	margin-top:25px;
}
.headc .navlogin form{
	width:165px;
	position:relative;
	display:inline-table;
}
.headc .navlogin form input{
	height:30px;
	width:100%;
	border:1px solid #A0A0A0;
	border-radius:15px;
	padding-right:35px
}
.headc .navlogin form button{
	position:absolute;
	top:1px;
	right:5px;
	height:28px;
	width:28px;
	background-image:url(../img/search.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:18px;
	background-color:transparent;
	border:0;
} 
.headc .navlogin a.login{
	color:#a0a0a0;
	font-size:16px;
}
.banner{
	height:600px;
}
.banner img{
	height:100%;
	width:100%;
}
.bian{
	height:52px;
	position:relative;
}
.bian img{
	height:100%;
	width:100%;
}
.bian_top{
	top:-45px;
}
.mainall{
	width:1100px;
	margin:0 auto;
}
.ctitle{
	color:#3fd7da;
	font-size:30px;
	text-align:center;
}
.idx_nav{
	text-align:center;
	margin:20px 0 30px 0;
}
.idx_nav a{
	display:inline-block;
	width:100px;
	height:40px;
	border:1px solid #0ACDD1;
	color:#b2b2b2;
	line-height:40px;
	text-align:center;
}
.idx_nav a:first-child{
	border-radius:20px 0 0 20px;
	border-right:0;
}
.idx_nav a:last-child{
	border-radius:0 20px 20px 0;
	border-left:0;
}
.idx_nav a.active{
	background:#3FD7DA;
	color:#fff;
}























.footer{
	height: 230px;
	background: #3FD7DA;
}
.footer .footk{
	width: 1100px;
	margin: 0 auto;
	padding-left: 50px;
	overflow: hidden;
	padding-top: 30px;
}
.footk>div{
	width: 205px;
	float: left;
}
.footer .foottitle{
	font-size: 14px;
	color: #fff;
	padding-bottom: 12px;
	background-image: url(../img/foott.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.footk .foot1 ul,.footk .foot2 ul{
	padding-left: 5px;
	padding-top: 15px;
}
.footk .foot1 ul{
	width: 350px;
}
.footk .foot1 ul li{
	height: 27px;
	line-height: 27px;
	font-size: 12px;
	color: #d0cfcf;
	margin-bottom: 15px;
}
.footk .foot1 ul li>*{
	vertical-align:middle;
}
.footk .foot1 ul li img{
	margin-right:10px;
}
.footk .foot1,.footk .foot2{
	margin-right: 160px;
}
.footk .foot2 ul{
	overflow: hidden;
}
.footk .foot2 ul li{
	float: left;
	width: 50%;
	font-size: 12px;
	margin-bottom: 8px;
}
.footk .foot2 ul li a:hover{
	text-decoration:underline;
}
.footk .foot3 .qr{
	width: 130px;
	height: 130px;
	margin: 15px 0 0 25px;
}
.footk  ul li a {
    color: #fff;
}
.footk  ul li a:hover {
    text-decoration: underline;
}


.logins{
	width:400px;
	height:380px;
	margin:95px auto;
	background: rgba(230,230,230,.5);
	padding: 10px;
}
.logink{
	height:100%;
	background:#fff;
}
.logink .loginnav{
	overflow:hidden;
}
.logink .loginnav a{
	float:left;
	width:50%;
	background: #eaeaea;
    color: #9e9e9e;
	height: 50px;
    text-align: center;
    line-height: 50px;
}
.logink .loginnav a.active{
	background: #fff;
    color: #505050;
}
.loginmain{
	padding-top:40px;
	text-align:center;
}
.loginmain p{
	font-size:18px;
	margin-bottom:20px;
}
.loginmain img{
	width: 185px;
    height: 185px;
    border: 1px solid #000;
    padding: 10px;
}



.videotitle p{
	line-height:60px;
	width:1100px;
	margin:0 auto;
	text-align:left;
	clear:both;
	font-size:12px;
}
.videotitle p a{
	color:#111;
}
.videotitle p a:first-child{
	font-size:16px;
}
.videotitle{
	height:60px;
	background:#EBEBEB;
}
.videobg{
	background:#F7F7F7;
	padding-bottom:20px;
}
.contentBox{
	width:1100px;
	margin:0 auto;
}
.contentBox h3{
	font-size:22px;
	font-weight:normal;
	line-height:80px;
	position:relative;
}
.contentBox h3 .smqr{
	float:right;
	height:55px;
	width:55px;
	margin-top:12.5px;
	border:1px solid #000;
}
.contentBox h3 .bgqr{
	position:absolute;
	right:0;
	top:75px;
	height:170px;
	width:170px;
	border:1px solid #000;
	display:none;
	z-index:100;
}
#play,#a1{
	height:400px;
	background:#000;
}
.othershutter .nav-arrows li{
	top:165px;
}
.down {
    font-size: 45px;
    height: 400px;
    position: absolute;
    text-align: center;
    top:80px;
    width: 1100px;
}
.down .endtime i{
	font-style:inherit;
}
.contentBox #mymodal{
	left:305px;
}
