<div id="central" class="warp"> {include file="index/menu"}
  <div id="main" class="friends">
    <div id="header">
      <div class="title">
        <h1>站内短信</h1>
      </div>
      <div class="return"><a href="__APP__/">中心首页</a></div>
      <div class="fn-clear"></div>
    </div>
    <div id="tab" class="tabs">
      <ul>
        <li><a class="selected"  href="__URL__/post.html">发送信息</a></li>
        <li><a href="__URL__/index.html">返回收件箱</a></li>
      </ul>
      <div class="menu"> </div>
      <div class="fn-clear"></div>
    </div>
    <div class="form">
    <form action="__URL__/post_data.html" method="post" id="form">
    	<ul>
       	  <li><label>收件人：</label>  <input name="username" type="text" class="text" id="username" value="{$_GET['user']}" reg="\S" msg="请输入收件人用户名，可通过好友列表直接发送！" > </li>
          <li><label>标题：</label>  <input name="title" type="text" class="text"  style="width:400px;" id="title" reg="\S" msg="请输入信息标题！" > </li>
          <li><label>内容：</label>
            <textarea name="content" class="textarea" style="width:400px;" id="content" reg="\S" msg="信息内容未填写！"></textarea>
            </li>
            <!--foreach:{$field_list $vo}-->
              <?php echo model('user_model')->get_field_html($vo,$user_info[$vo['field']]); ?>
            <!--{/foreach}-->
            <li><label></label> <button class="button" type="submit">提交</button></li>
        </ul>
    </form>
    </div>
    <div class="fn-clear"></div>
  </div>
  <div class="fn-clear"></div>
</div>
<script>
saveform({
	success:function(msg){
		window.location.href=msg;
	},
	failure:function(msg){
		$.duxnotice.failure(msg);
	}
});
</script> 