<div id="central" class="warp"> {include file="index/menu"}
  <div id="main" class="friends">
    <div id="header">
      <div class="title">
        <h1>我的好友</h1>
      </div>
      <div class="return"><a href="__APP__/">中心首页</a></div>
      <div class="fn-clear"></div>
    </div>
    <div id="tab" class="tabs">
      <ul>
        <li><a class="selected"  href="#">添加好友</a></li>
        <li><a href="__URL__/index.html">返回好友列表</a></li>
      </ul>
      <div class="menu"> </div>
      <div class="fn-clear"></div>
    </div>
    <div class="form">
    <form action="__URL__/add_data.html" method="post" id="form">
    	<ul>
       	  <li><label>好友帐号：</label> {$info.nicename} ({$info.username}) </li>
          <li><label>备注：</label>  <input name="remark" type="text" class="text"  id="remark" > (非必填) </li>
          <input name="fid" type="hidden" value="{$info.uid}" />
          <li><label></label> <button class="button" type="submit">确认添加</button></li>
        </ul>
    </form>
    </div>
    <div class="fn-clear"></div>
  </div>
  <div class="fn-clear"></div>
</div>
<script>
saveform({
	success:function(msg){
		window.location.href=msg;
	},
	failure:function(msg){
		$.duxnotice.failure(msg);
	}
});
</script> 