
<style>
	#signup .oftentable tr td,#signup .oftentable tr th{
		vertical-align:middle;
	}
	#signup .oftentable tr td .icheckbox_minimal{
		margin-right:5px;
		top:-2px;
	}
	body{
		background:#fff !important;
	}
</style>

<div id="signup">
<h4>报名审核</h4>
<div class="page_function">
 
  <div class="exercise borderk"> 
   <a href="__URL__/signup/aid-{$aid}" class="active">报名列表</a>	
   <?php if($info['autoaudit']){?>
   <a href="__URL__/signupauto/aid-{$aid}">预审核列表</a>
    <?php }?>
    <a href="__URL__/signup/aid-{$aid}-download-true" >导出</a>
  <div class="tosearch">
  	<form method="get">
    	<input type="text"  name="s"/>
        <button type="submit"></button>
    </form>
  </div>
   </div>
</div>
<div class="page_main">
  <div class="box-body">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="oftentable table">
      <tr class="bgth">
        <th width="10%">ID</th>
        <!--foreach:{$field_list $vo}-->
        <?php  if(in_array($vo['field'],$info['field_lists'])){ ?>
        <th>{$vo.name}</th>
        <?php } ?>
        <!--{/foreach}-->
        <th width="10%">状态</th>
        <th width="22%">报名时间</th>
      </tr>
      <!--foreach:{$list $vo}-->
      <tr>
        <td style="text-align:left;"><input name="id[]" type="checkbox" id="id[]" value="{$vo['uid']}" >{$vo.id}</td>
        <!--foreach:{$field_list $model}-->
        <?php  if(in_array($model['field'],$info['field_lists'])){ ?>
        <td>
        <?php
        if($model['admin_html']<>''){
        eval(html_out(str_replace('{content}', $vo[$model['field']] ,$model['admin_html'])));
        }else{
        echo model('expand_model')->get_list_model($model['type'],$vo[$model['field']],$model['config']);
        }
        ?>
        </td>
          <?php } ?>
        <!--{/foreach}-->
         <td>
         <?php  echo $vo['status']?'已通过':'未通过';  ?>
        </td>
        <td>
       {$php(echo date('Y-m-d H:i:s',$vo['dateline']))}
        </td>
      </tr>
      <!--{/foreach}-->
    </table>
  </div>
</div>

<div class="page_tool">
	<div class="function">
  <input type="button" onclick="javascript:selectall('id[]');" class="button_small" value="全选" />
 
  <input type="button" onclick="javascript:audit(1);"  class="button_small" value="通过" />

 <input type="button" onclick="javascript:audit(2);"  class="button_small" value="删除" />

  
  </div>			<div class="page">
     					 <ul class="pagination">
                                 {$page}
                                        </ul>
					 </div>	
</div>

                                  
                                    
<script>
//选择
function selectall(name){   
    $("[name='"+name+"']").each(function(){//反选   

    if($(this).parent().hasClass("checked")){   
          $(this).parent().removeClass("checked"); 
		   $(this).removeAttr("checked");   
   
    }else{  
			
          $(this).attr("checked",'true');     
          $(this).parent().addClass("checked");   
    }   
    })  
}

//批量操作
function audit(status){
	var str="";
	$("[name='id[]']").each(function(){
    if($(this).parent().hasClass("checked")){
		  str+=$(this).val()+","; 
    }
    })
	
	ajaxpost({
		name:'您确认要继续进行操作吗？操作将无法撤销！',
		url:"__URL__/batch",
		data:{status: status, uid:str, aid:'{$aid}'},
		tip:1,
		success:function(){
			window.location.reload();	
		}
	});
}

//审核
function shenhe(uid,obj) {
	var obj;
	ajaxpost({
		name:'确定要删除此记录？',
		url:"__URL__/del",
		data:{id: id,fid: '{$aid}'},
		tip:1,
		success:function(){
			$(obj).parent().parent().parent().remove();
		}
	});
}
</script>
</div>