
<style>
	.allmain{
		width:1080px;
		margin:40px auto;
	}
	.allmain>h4{
		font-size: 16px;
		font-weight: normal;
		margin-bottom: 20px;
	}
</style>


<div class="allmain">
<h4>模板编辑</h4>
<div class="page_function">

  <div class="borderk"> 
  
   <a href="__URL__/diytpl_edit">添加主菜单</a>
  
   </div>
</div>
<div class="page_main">
  <div class="box-body">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table oftentable">
      <tr class="bgth">
     
        <th>标题</th>
        <th>模板链接</th>
      
      
        <th>操作</th>
      </tr>
      <!--foreach:{$list $vo}-->
      <tr>
       
      
      
        <td>{$vo.title}</td>
       
         <td>{$sys['MOBILE_DOMAIN']}/index.php/diytpl/index/tid-{$vo.id}-token-{$token}</td>
       
         <td>	<a title="编辑图文自定义回复" href="__URL__/diytpl_edit/id-{$vo.id}" class="v-gray">编辑</a>
	<a href="javascript:" onclick="del('{$vo.id}',this)" class="v-gray">删除</a></td>
      </tr>
      <!--{/foreach}-->
    </table>
  </div>
</div>
</div>
  <script>
        function del(id,obj) {
			var obj;
			ajaxposta({
				name:'确认要删除本内容吗?删除无法恢复！',
				url:"__URL__/diytpl_del",
				data:{id: id,table:'diymen_class' },
				tip:1,
				success:function(){
					window.location.reload();
					//window.location.href=window.location.href;
				}
			});
		}
		
		function ajaxposta(config,url,data,tip,success,failure,cancel){
			if(!config.name){
				var config = {
					name:config,
					url:url,
					data:data,
					tip:tip,
					success:success,
					failure:failure,
					cancel:cancel
				};
			}
			art.dialog.through({
				content: config.name,
				lock: true,
				icon: 'warning',
				button: [{
					name: '确认操作',
					callback: function() {
					//window.top.sub_lock();
					$.ajax({
					type: 'POST',
					url: config.url,
					data: config.data,
					dataType: 'json',
					success: function(json) {
						//window.top.sub_lock_close();
						if(config.tip){
						art.dialog.tips(json.message, 3);
						}
						if (json.status == 1) {
							if(typeof config.success == "function"){
								config.success(json.message);
							}
						} else {
							if(typeof config.failure == "function"){
								config.failure(json.message);
							}
						}
					}
				});
				},
				focus: true
				},
				{
					name: '取消',
					callback: function() {
						  if(typeof config.cancel == "function"){
							config.cancel();
						}
					}
				}]
			});
			
		}
		</script>