<script src="__PUBLICURL__/data/js/AdminLTE/newapp.js" type="text/javascript"></script>
 <script src="__PUBLICURL__/data/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>

<style>
	#myModal input{
		display:inline-block;
		margin-left: 45px;
		position: relative;
		left: -5px;
		top: -3px;
	}
	#myModal .modal-body>div:first-child{
		margin-bottom:20px;
	}
	#myModal .modal-footer{
		margin:0;
	}
	.open>.dropdown-menu{
		max-width:500px;
	}
	.modal-backdrop.in{
		opacity: 0;
	}
	#editmodel .modelk{
		width:750px;
	}
</style>
<div id="editmodel">
			<h4>
				模版编辑
			</h4>
            <form action="__URL__/diytpl_edit_save/time-<?php echo time(); ?>-ajax-true" method="post" id="form">
			<div class="modelk">
				<table>
					<tr>
						<td>
							模板名称：
						</td>
						<td>
							<input type="text" id="title" name="title" value="{$info.title}" reg="\S" msg="名称不能为空"  class="modelname" />
						</td>
					</tr>
					<tr>
						<td>
							栏目：
						</td>
						<td>
							<select name="cid" id="cid" onChange="location.href='__URL__/diytpl_edit/id-{$_GET['id']}-cid-'+this.value">    
                                       		              
								       		<option value="16" <?php if($cid==16){ echo "selected";}?>>直播</option>
								            <option value="13" <?php if($cid==13){ echo "selected";}?>>回播</option>
								         </select>
						</td>
					</tr>
					<tr>
						<td>
							文章：
						</td>
						<td>
							<select id="example-dropUp" multiple="multiple" name="aid[]">
                                             <!--foreach:{$list $vo}-->
                                            <option value="{$vo.aid}" <?php if(in_array($vo['aid'],$info['aid'])){echo 'selected';}?>>{$vo.title len="20"}</option>
                                             <!--{/foreach}-->
                                        </select>
                                        <div class="movetishi movetishi2">
                            	
                                
                                            <div class="tishik" style="display: none;">
                                                不选择，就默认显示所有的直播/回看
                                            </div>
                                        </div>    
						</td>
					</tr>
					<tr>
						<td>
							内容模板：
						</td>
						<td>
							<input type="" name="" id="nowmb" value="模板1"  class="choosemodel"/>
							<button class="cmodel" data-toggle="modal" data-target="#myModal">
								选择
							</button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    
                                    <h4 class="modal-title" id="myModalLabel">内容模板</h4>
                                  </div>
                                  <div class="modal-body">
                                  <div class="toleft"></div>
                                  <div class="mbk">
                                  
                                  <div data-dismiss="modal" >
                                    <input checked class="radio" type="radio" name="tplid" value="101" <?php if($info['tplid']==101){echo 'checked';} ?>>模板1
                                        <img src="__PUBLICURL__/home/images/1.jpg"  width="140" height="266"  class="img" />
                                        </div>
                                        <div data-dismiss="modal">
                                        <input class="radio gap" type="radio" name="tplid" value="102" <?php if($info['tplid']==102){echo 'checked';} ?>>模板2
                                       <img src="__PUBLICURL__/home/images/2.jpg"  width="140" height="266"  class="img" />
                                       </div>
                                       <div data-dismiss="modal">
                                       <input class="radio gapo" type="radio" name="tplid" value="103" <?php if($info['tplid']==103){echo 'checked';} ?>>模板3
                                       <img src="__PUBLICURL__/home/images/3.jpg"  width="140" height="266"  class="img" />
                                       </div>
                                       <div data-dismiss="modal">

<input class="radio gapo" type="radio" name="tplid" value="104" <?php if($info['tplid']==104){echo 'checked';} ?>>模板4
                                       <img src="__PUBLICURL__/home/images/4.jpg"  width="140" height="266"  class="img" />
                                       </div>
                                      
                                       </div>
                                        <div class="toright"></div> 
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
						</td>
					</tr>
				</table>
                <input name="id" type="hidden" value="{$info.id}" />
				<button id="savemodel" type="submit">
					保存
				</button>
			</div>
		</form>
        </div>
          <script type="text/javascript" src="__PUBLICURL__/home/dist/js/bootstrap-multiselect.js"></script>
            <link rel="stylesheet" href="__PUBLICURL__/home/dist/css/bootstrap-multiselect.css" type="text/css"/>
<script>

$('.mbk>div').click(function(){
	console.log($(this).find('input').val());
	$(this).parents('.mbk').find('input').prop("checked",false);
	$(this).parents('.mbk').find('.iradio_minimal').removeClass('checked');
	$(this).parents('.mbk').find('.iradio_minimal').attr('aria-checked',false);
	 $(this).find('input').prop('checked',true);
	 $(this).find('.iradio_minimal').addClass('checked');
	 $(this).find('.iradio_minimal').attr('aria-checked',true);
	 if($(this).find('input').val()=='101'){
		 	$('#nowmb').val("模板1");	
	 }else if($(this).find('input').val()=='102'){
		 	$('#nowmb').val("模板2");	
	 }else if($(this).find('input').val()=='103'){
		 	$('#nowmb').val("模板3");	
	 }else if($(this).find('input').val()=='104'){
		 	$('#nowmb').val("模板4");	
	 }
});
$(function(){
	$('.mbk input').each(function() {
        if($(this)[0].checked==true){
			 if($(this).val()=='101'){
		 			$('#nowmb').val("模板1");	
			 }else if($(this).val()=='102'){
					$('#nowmb').val("模板2");	
			 }else if($(this).val()=='103'){
					$('#nowmb').val("模板3");	
			 }else if($(this).val()=='104'){
					$('#nowmb').val("模板4");	
			 }
		}
    });

})

//提交表单
savelistform({addurl:"__URL__/diytpl_edit",listurl:"__URL__/diytpl"});
      	$(document).ready(function() {
				$('#example-dropUp').multiselect({
					includeSelectAllOption: true,
					nonSelectedText:'未选择',
					nSelectedText:'个已选',
					selectAllText: '全选',
					allSelectedText: '已全选',
					enableClickableOptGroups: true,
					enableFiltering: true,
					numberDisplayed: 1,
					maxHeight: 300
					
				});
			});
        </script>
        
        
        <script>

	$('.toleft').click(function(){
		$('.mbk').stop().animate({left:'0'},700);
	});
	$('.toright').click(function(){
		$('.mbk').stop().animate({left:'-560px'},700);
	});
	
</script>
