<div id="editmodel">
			<h4>
				模版编辑
			</h4>
			<div class="modelk">
				<table width="100%">
					<tr>
						<td>
							模板名称：
						</td>
						<td>
							<input type="text" id="title" name="title" value="{$info.title}" reg="\S" msg="名称不能为空"  class="modelname" />
						</td>
					</tr>
					<tr>
						<td>
							栏目：
						</td>
						<td>
							<select name="cid" id="cid" onChange="location.href='__URL__/diytpl_edit/id-{$_GET['id']}-cid-'+this.value">    
                                       		              
								       		<option value="16" <?php if($cid==16){ echo "selected";}?>>直播</option>
								            <option value="13" <?php if($cid==13){ echo "selected";}?>>回播</option>
								         </select>
						</td>
					</tr>
					<tr>
						<td>
							文章：
						</td>
						<td>
							<select id="example-dropUp" multiple="multiple" name="aid[]">
                                             <!--foreach:{$list $vo}-->
                                            <option value="{$vo.aid}" <?php if(in_array($vo['aid'],$info['aid'])){echo 'selected';}?>>{$vo.title}</option>
                                             <!--{/foreach}-->
                                        </select>
						</td>
					</tr>
					<tr>
						<td>
							内容模板：
						</td>
						<td>
							<input type="" name="" id="" value="模板1"  class="choosemodel"/>
							<button class="cmodel">
								选择
							</button>
						</td>
					</tr>
				</table>
				<button id="savemodel">
					保存
				</button>
			</div>
		</div>
          <script type="text/javascript" src="__PUBLICURL__/home/dist/js/bootstrap-multiselect.js"></script>
            <link rel="stylesheet" href="__PUBLICURL__/home/dist/css/bootstrap-multiselect.css" type="text/css"/>
<script>
//提交表单
savelistform({addurl:"__URL__/diytpl_edit",listurl:"__URL__/diytpl"});
      	$(document).ready(function() {
				$('#example-dropUp').multiselect({
					includeSelectAllOption: true,
					nonSelectedText:'未选择',
					nSelectedText:'个已选',
					selectAllText: '全选',
					allSelectedText: '已全选',
					enableClickableOptGroups: true,
					enableFiltering: true,
					numberDisplayed: 1,
					maxHeight: 300
					
				});
			});
        </script>