<form action="__URL__/menu_send" method="post" id="form" autocomplete="off">
<div id="menuset">
			<h4>
					菜单设置
			</h4>
			<div class="addmenuk borderk">
				<a href="__URL__/menu_add">
					添加主菜单
				</a>
				<button type="submit">
					生成自定义菜单
				</button>
				<p>
					注意：1级菜单最多只能开启3个，2级子菜单最多开启5个！
				</p>
			</div>
            
			<table width="100%" cellspacing="0" class="oftentable">
				<tr class="bgth">
					<th>菜单名称</th>
					<th>关联关键词</th>
					<th>关联文章</th>
					<th>显示顺序</th>
					<th width="12%">操作</th>
				</tr>
                <!--foreach:{$class $vo}-->
				<tr>
					<td>
						{$vo.title}
					</td>
					<td>
						{$vo.keyword}
					</td>
					<td>
						{$vo.url}
					</td>
					<td>
						{$vo.sort}
					</td>
					<td>
						<a href="__URL__/menu_add/id-{$vo.id}">
							修改
						</a>
						<a href="javascript:;" onclick='del({$vo.id},this)'>
							删除
						</a>
					</td>
				</tr>
                <!--foreach:{$vo['class'] $v}-->
				<tr>
					<td>
						{$vo.title}
					</td>
					<td>
						{$vo.keyword}
					</td>
					<td>
						{$vo.url}
					</td>
					<td>
						{$vo.sort}
					</td>
					<td>
						<a href="__URL__/menu_add/id-{$vo.id}">
							修改
						</a>
						<a href="javascript:;" onclick='del({$vo.id},this)'>
							删除
						</a>
					</td>
				</tr>
                <!--{/foreach}-->
                <!--{/foreach}-->
			</table>
       
			<div class="tishi">
				<p>
					注：
					<br /> (使用前提是已经拥有了自定义菜单的用户才能够使用，)
					<br /> 第一步:必须先填写【AppId】【 AppSecret】！
					<br /> 第二步:添加菜单，
					<br /> 第三步:点击生成!
					<br /> 注意：1级菜单最多只能开启3个，2级子菜单最多开启5个
					<br /> 官方说明：修改后，需要重新关注，或者最迟隔天才会看到修改后的效果！
				</p>
			</div>

		</div>
             </form>
   <script>
        function del(id,obj) {
			var obj;
			ajaxposta({
				name:'确认要删除本内容吗?删除无法恢复！',
				url:"__URL__/del",
				data:{id: id,table:'diymen_class' },
				tip:1,
				success:function(){
					window.location.reload();
					//window.location.href=window.location.href;
				}
			});
		}
		
		function ajaxposta(config,url,data,tip,success,failure,cancel){
			if(!config.name){
				var config = {
					name:config,
					url:url,
					data:data,
					tip:tip,
					success:success,
					failure:failure,
					cancel:cancel
				};
			}
			art.dialog.through({
				content: config.name,
				lock: true,
				icon: 'warning',
				button: [{
					name: '确认操作',
					callback: function() {
					//window.top.sub_lock();
					$.ajax({
					type: 'POST',
					url: config.url,
					data: config.data,
					dataType: 'json',
					success: function(json) {
						//window.top.sub_lock_close();
						if(config.tip){
						art.dialog.tips(json.message, 3);
						}
						if (json.status == 1) {
							if(typeof config.success == "function"){
								config.success(json.message);
							}
						} else {
							if(typeof config.failure == "function"){
								config.failure(json.message);
							}
						}
					}
				});
				},
				focus: true
				},
				{
					name: '取消',
					callback: function() {
						  if(typeof config.cancel == "function"){
							config.cancel();
						}
					}
				}]
			});
			
		}
		</script>