<div id="menuset">
			<h4>
					菜单设置
			</h4>
			<div class="addmenuk borderk">
				<a href="javascript:;">
					添加主菜单
				</a>
				<a href="javascript:;">
					生成自定义菜单
				</a>
				<p>
					注意：1级菜单最多只能开启3个，2级子菜单最多开启5个！
				</p>
			</div>
			<table width="100%" cellspacing="0">
				<tr class="bgth">
					<th>菜单名称</th>
					<th>关联关键词</th>
					<th>关联文章</th>
					<th>显示顺序</th>
					<th>操作</th>
				</tr>
				<tr>
					<td>
						在线直播
					</td>
					<td>
						直播
					</td>
					<td>
						http://hk.urren.net/live/a163-1218.m3u8
					</td>
					<td>
						0
					</td>
					<td>
						<a href="javascript:;">
							修改
						</a>
						<a href="javascript:;">
							删除
						</a>
					</td>
				</tr>
				<tr>
					<td>
						在线直播
					</td>
					<td>
						直播
					</td>
					<td>
						http://hk.urren.net/live/a163-1218.m3u8
					</td>
					<td>
						0
					</td>
					<td>
						<a href="javascript:;">
							修改
						</a>
						<a href="javascript:;">
							删除
						</a>
					</td>
				</tr>
			</table>
			<div class="tishi">
				<p>
					生成自定义菜单 注：
					<br /> (使用前提是已经拥有了自定义菜单的用户才能够使用，)
					<br /> 第一步:必须先填写【AppId】【 AppSecret】！
					<br /> 第二步:添加菜单，
					<br /> 第三步:点击生成!
					<br /> 注意：1级菜单最多只能开启3个，2级子菜单最多开启5个
					<br /> 官方说明：修改后，需要重新关注，或者最迟隔天才会看到修改后的效果！
				</p>
			</div>

		</div>