<script src="__PUBLICURL__/data/js/AdminLTE/newapp.js" type="text/javascript"></script>
 <script src="__PUBLICURL__/data/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<div id="autoreply">
			<h4>
					关注地址
			</h4>
            <form action="__URL__/save_reply/time-<?php echo time(); ?>-ajax-true" method="post" id="form">
			<div class="replycontent">
				<p>
					关注url：
				</p>
				<textarea id="Hfcontent" name="gzurl"  class="px">{$info.gzurl}</textarea>
				<p class="tishi">
					注意：引导关注的url
				</p>
				<hr />
			
				<div>
				
                 
				</div>
               
				<button id="save">
						保存
				</button>
			</div>
</form>
		</div>

<script>
//提交表单

saveform({
	success:function(msg){
	tip({msg:msg});
 window.location.reload();
	},
	failure:function(msg){
		tip({msg:msg});
	}}
);
        </script>