	<div class="indexcontent">
			<div class="loginshow">
				<div>
					<img src="__PUBLICURL__/manage/img/backstage.png"/>
					<span>
						{$user.user} [{$user.nicename}]
					</span>
				</div>
				<p>
					<span>
						您好！欢迎使用闪阅云管理系统后台！
					</span>
					<span>
						您上次登录时间为：{$php( echo date('Y-m-d H:i:s',$user['logintime']))}
					</span>
				</p>
				<p> 
					登录IP为： {$user.ip}
                </p>
				
			</div>
			<div class="serve">
				<div class="servek">
                	<div class="topimg"></div>
                    <p>观看人次</p>
                    <h5>{$data.all}</h5>
                </div>
                <div class="servek">
                	<div class="topimg"></div>
                    <p>评论数量</p>
                    <h5>{$data.comment}</h5>
                </div>
                <div class="servek">
                	<div class="topimg"></div>
                    <p>素材数量</p>
                    <h5>{$data.sucai}</h5>
                </div>
			</div>
		</div>
		<div class="tubiaok">
        	<div class="tubiao">
            	<p>新建页面数量占比图</p>
            	<div id="container" style="width:480px; height:400px;"></div>
            </div>
            <div class="tubiao">
            	<p>观看人次占比图</p>
            	<div id="container2" style="width:480px; height:400px;"></div>
            </div>
        </div>
		
		
		 
<script type=text/javascript src=" __PUBLICURL__/js/highcharts.js"></script>
<script type=text/javascript src=" __PUBLICURL__/js/highcharts-3d.js"></script>
<script type=text/javascript src=" __PUBLICURL__/js/radialIndicator.min.js"></script>
		
		<script type="text/javascript">
			//导航点击跳出退出
			$('#header .headuser').mouseenter(function(){
				$('#header .exit').fadeIn(500);
			}).mouseleave(function (){
			    $('#header .exit').fadeOut(500);
			});
			
			
			
			
			$(function () {
				$('#container').highcharts({
					chart: {
						plotBackgroundColor: null,
						plotBorderWidth: 0,
						plotShadow: false
					},
					title: {
						text: '新建数量<br>{$contentnum}',
						align: 'center',
						verticalAlign: 'middle',
						y: 50
					},
					tooltip: {
						headerFormat: '{series.name}<br>',
						pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							dataLabels: {
								enabled: true,
								distance: -50,
								style: {
									fontWeight: 'bold',
									color: 'white',
									textShadow: '0px 1px 2px black'
								}
							},
							startAngle: -90,
							endAngle: 90,
							center: ['50%', '75%']
						}
					},
					series: [{
						type: 'pie',
						name: '数量占比',
						innerSize: '50%',
						data: [
							 <!--foreach:{$cteatenum $k $v}-->
			 
                ['{$cnames[$k]}({$v})',   {$v}],
				
				 	<!--{/foreach}-->
							{
								name: '其他',
								y: 0.7,
								dataLabels: {
									// 数据比较少，没有空间显示数据标签，所以将其关闭
									enabled: false
								}
							}
						]
					}]
				});
				
				$('#container2').highcharts({
					chart: {
						plotBackgroundColor: null,
						plotBorderWidth: 0,
						plotShadow: false
					},
					title: {
						text: '观看人次<br>{$data.all}',
						align: 'center',
						verticalAlign: 'middle',
						y: 50
					},
					tooltip: {
						headerFormat: '{series.name}<br>',
						pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							dataLabels: {
								enabled: true,
								distance: -50,
								style: {
									fontWeight: 'bold',
									color: 'white',
									textShadow: '0px 1px 2px black'
								}
							},
							startAngle: -90,
							endAngle: 90,
							center: ['50%', '75%']
						}
					},
					series: [{
						type: 'pie',
						name: '观看人次占比',
						innerSize: '50%',
						data: [
						 <!--foreach:{$data['list'] $k $v}-->
			 
                ['{$cnames[$k]}({$v})',   {$v}],
				
				 	<!--{/foreach}-->
							{
								name: '其他',
								y: 0.7,
								dataLabels: {
									// 数据比较少，没有空间显示数据标签，所以将其关闭
									enabled: false
								}
							}
						]
					}]
				});
				
			});
			
			
			
		</script>
