<a class="nav1" href="__APP__/extendclass/batch">
	<div class="nav_selectclass1">
		
	</div>
	<p>
		扩展课程
	</p>
	<img src="__PUBLICURL__/manage/img/nav_sjx1.png"/>
</a>
<a class="nav2" href="__APP__/extendclass/classes">
	<div class="nav_selectclass2">
		
	</div>
	<p>
		班级管理
	</p>
	<img src="__PUBLICURL__/manage/img/nav_sjx2.png"/>
</a>

<a class="nav3" href="__APP__/extendclass/teacher">
	<div class="nav_selectclass3">
		
	</div>
	<p>
		教师管理
	</p>
	<img src="__PUBLICURL__/manage/img/nav_sjx3.png"/>
</a>
