<a class="nav1" href="__APP__/wechat/wechat_info">
	<div class="nav_WeChat1">
		
	</div>
	<p>
		微信绑定
	</p>
	<img src="__PUBLICURL__/manage/img/nav_sjx1.png"/>
</a>
<a class="nav2" href="__APP__/wechat/set_reply">
	<div class="nav_WeChat2">
	
	</div>
	<p>
		关注地址
	</p>
	<img src="__PUBLICURL__/manage/img/nav_sjx2.png"/>
</a>
<a class="nav4" href="__APP__/wechat/diytpl">
	<div class="nav_WeChat4">
		
	</div>
	<p>
		模版编辑
	</p>
	<img src="__PUBLICURL__/manage/img/nav_sjx4.png"/>
</a>
<a class="nav2" href="__APP__/extendclass/classes">
	<div class="nav_selectclass2">
		
	</div>
	<p>
		班级管理
	</p>
	<img src="__PUBLICURL__/manage/img/nav_sjx2.png"/>
</a>

<a class="nav3" href="__APP__/extendclass/teacher">
	<div class="nav_selectclass3">
		
	</div>
	<p>
		教师管理
	</p>
	<img src="__PUBLICURL__/manage/img/nav_sjx3.png"/>
</a>


<a class="nav4" href="__APP__/extendclass/student">
	<div class="nav_selectclass4">
		
	</div>
	<p>
		学生管理
	</p>
	<img src="__PUBLICURL__/manage/img/nav_sjx4.png"/>
</a>

