<div id="commentmanage">
			<h4>
				评论管理
			</h4>
			<div class="borderk">
				<button>
					<span>
						&radic;
					</span>
					批量审核
				</button>
				<button>
					<img src="__PUBLICURL__/manage/img/delete.png"/>
					批量删除
				</button>
			</div>
			<table width="100%" cellspacing="0" class="oftentable">
				<tr class="bgth">
					<th>编号</th>
					<th>对应发帖子编号</th>
					<th>评论人</th>
					<th width="30%">内容</th>
					<th>赞</th>
					<th>创建时间</th>
					<th>状态</th>
					<th width="130px"></th>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="" id="" value="" />
						022
					</td>
					<td>
						0356
					</td>
					<td>
						小民
					</td>
					<td>
						<p>
							名章很好!写的很棒，我很喜欢。
						</p>
					</td>
					<td>
						10
					</td>
					<td>
						<p>
							2016-07-20
						</p>
						<p>
							11:31:10
						</p>
					</td>
					<td>
						正常
					</td>
					<td class="operation">
						<button>
							操作
						</button>
						<ul>
							<li>
								<a href="javascript:;">
									置顶
								</a>
							</li>
							<li>
								<a href="javascript:;">
									删除
								</a>
							</li>
							
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="" id="" value="" />
						022
					</td>
					<td>
						0356
					</td>
					<td>
						小民
					</td>
					<td>
						<p>
							名章很好!写的很棒，我很喜欢。
						</p>
					</td>
					<td>
						10
					</td>
					<td>
						<p>
							2016-07-20
						</p>
						<p>
							11:31:10
						</p>
					</td>
					<td>
						正常
					</td>
					<td class="operation">
						<button>
							操作
						</button>
						<ul>
							<li>
								<a href="javascript:;">
									置顶
								</a>
							</li>
							<li>
								<a href="javascript:;">
									删除
								</a>
							</li>
							
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="" id="" value="" />
						022
					</td>
					<td>
						0356
					</td>
					<td>
						小民
					</td>
					<td>
						<p>
							名章很好!写的很棒，我很喜欢。
						</p>
					</td>
					<td>
						10
					</td>
					<td>
						<p>
							2016-07-20
						</p>
						<p>
							11:31:10
						</p>
					</td>
					<td>
						正常
					</td>
					<td class="operation">
						<button>
							操作
						</button>
						<ul>
							<li>
								<a href="javascript:;">
									置顶
								</a>
							</li>
							<li>
								<a href="javascript:;">
									删除
								</a>
							</li>
							
						</ul>
					</td>
				</tr>
				
			</table>
		</div>