<script src="__PUBLICURL__/data/js/AdminLTE/newapp.js" type="text/javascript"></script>
 <script src="__PUBLICURL__/data/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<div id="postmanage">
			<h4>
				帖子管理
			</h4>
			<div class="borderk postk">
				<div>
					<span>
						发帖人：
					</span>
					<input type="" name="" id="" value="" />
				</div>
				<div>
					<span>
						内容：
					</span>
					<input type="" name="" id="" value="" placeholder="请输入内容"/>
					<button>
						查询
					</button>
				</div>
				
			</div>
			<table width="100%" cellspacing="0" class="oftentable">
				<tr class="bgth">
					<th>编号</th>
					<th>发帖人</th>
					<th>标题</th>
					<th>赞</th>
					
					<th>图片</th>
					<th>创建时间</th>
					<th>状态</th>
					<th width="130px"></th>
				</tr>
                <!--foreach:{$list $vo}-->
				<tr>
					<td>
						<input type="checkbox" name="ids[]" id="" value="{$vo.id}" />
						{$vo.id}
					</td>
					<td>
						{$vo.name}
					</td>
					<td>
						{$vo.content}
					</td>
					<td>
						{$vo.zannum}
					</td>
					
					<td>
						{$vo.photosnum}
					</td>
					<td>
						<p>
						 {$php(echo date('Y-m-d',$vo['createtime']))}
						</p>
						<p>
						{$php(echo date('H:i:s',$vo['createtime']))}
						</p>
					</td>
					<td>
                    
					<?=$vo['status']?'正常':'待审核'?>	
					</td>
					<td class="operation">
						<button>
							操作
						</button>
						<ul>
							<li>
								<a href="javascript:;" onClick="totop({$vo.id})">
                                <?=$vo['top']?'取消置顶':'置顶'?>
									
								</a>
							</li>
							<li>
								<a href="javascript:;" onClick="del({$vo.id},this)">
									删除
								</a>
							</li>
							
						</ul>
					</td>
				</tr>
                  <!--{/foreach}-->
				
			</table>
		</div>
        <div class="page_tool">
	<div class="function">
  <input type="button" onclick="javascript:selectall('ids[]');" class="button_small" value="全选" />
 
  <input type="button" onclick="javascript:audit(1);"  class="button_small" value="审核" />

 <input type="button" onclick="javascript:audit(2);"  class="button_small" value="删除" />

  
  </div>			<div class="page">
     					 <ul class="pagination">
                                 {$page}
                                        </ul>
					 </div>	
</div>

   <script>

  function totop(id){
ajaxpost({
		name:'确定要置顶？',
		url:"__URL__/topics_top",
		data:{id: id},
		tip:1,
		success:function(){
			 window.location.reload();
		}
	});
	}
//删除
function del(id,obj) {
	
	

	ajaxpost({
		name:'确定要删除？',
		url:"__URL__/topics_del",
		data:{id: id},
		tip:1,
		success:function(){
			$(obj).parent().parent().parent().parent().remove();
		}
	});
}

//选择
function selectall(name){   
    $("[name='"+name+"']").each(function(){//反选   

    if($(this).parent().hasClass("checked")){   
          $(this).parent().removeClass("checked"); 
		   $(this).removeAttr("checked");   
   
    }else{  
			
          $(this).attr("checked",'true');     
          $(this).parent().addClass("checked");   
    }   
    })  
}

//批量操作
function audit(status){
	var str="";
	$("[name='ids[]']").each(function(){
    if($(this).parent().hasClass("checked")){
		  str+=$(this).val()+","; 
    }
    })
	
	ajaxpost({
		name:'您确认要继续进行操作吗？操作将无法撤销！',
		url:"__URL__/topics_batch",
		data:{status: status, id:str},
		tip:1,
		success:function(){
			window.location.reload();	
		}
	});
}

//审核
function shenhe(uid,obj) {
	var obj;
	ajaxpost({
		name:'确定要删除此记录？',
		url:"__URL__/del",
		data:{id: id,fid: '{$aid}'},
		tip:1,
		success:function(){
			$(obj).parent().parent().parent().remove();
		}
	});
}
</script>