<script src="__PUBLICURL__/data/js/AdminLTE/newapp.js" type="text/javascript"></script>
 <script src="__PUBLICURL__/data/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
 <style>
	#myModal{
		text-align:left;
	}
	
	#myModal .modal-footer{
		margin:0;
	}
	
	.modal-backdrop.in{
		opacity: 0;
	}
	#myModal .modal-body{
		padding:0 4px;
		height:inherit;
		min-height:320px;
	}
	#myModal .modal-body div.toright{
		right: 410px;
		height: 340px;
		top: 40px;
	}
</style>
<div id="community">
			<h4>
				站点配置
			</h4>
			<div class="communityk">
            <form method="POST" role="form"  id="form" action="__URL__/config_save/time-<?php echo time() ?>-ajax-true">
				<table border="0" cellspacing="0" cellpadding="0">
					
					<tr>
						<td>
							站点名字：
						</td>
						<td>
							<input type="text" name="name" id="" reg='.' msg="名字必填" value="{$info.name}" />
						</td>
					</tr>
					
					<tr>
						<td>
							站点logo：
						</td>
						<td>
						<?php echo module('editor')->get_image_upload('logo1','logo',false,'editor_content') ?>
         							 <input name="logo" type="text" id="logo" value="{$info.logo}" /> 
								
								<button id="logo1" type="button"> 
								上传
							</button>
							
							
						</td>
					</tr>
                   	<tr>
						<td>
							二维码：
						</td>
						<td>
						<?php echo module('editor')->get_image_upload('erweima1','erweima',false,'editor_content') ?>
         							 <input name="erweima" type="text" id="erweima" value="{$info.erweima}" /> 
								
								<button id="erweima1" type="button"> 
								上传
							</button>
							
							
						</td>
					</tr>
					<tr>
						<td>
							站点域名：
						</td>
						<td>
					<input type="text" name="site" id="" reg='.' msg="站点域名必填" value="{$info.site}" style="width:100px;" />.shanyueyun.com
							
							
						</td>
					</tr>
				<tr>
						<td>
							站点模板：
						</td>
						<td>
					<input type="text" name="template" id="mbval" reg='.' msg="站点模板必填" value="{$info.template}"  />
							
							
                            <button data-toggle="modal" data-target="#myModal">选择</button>
                            
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    
                                    <h4 class="modal-title" id="myModalLabel">内容模板</h4>
                                  </div>
                                  <div class="modal-body">
                                  <div class="toleft"></div>
                                  <div class="allhmb">
                                  	<div class="hmbk active" id="hmbk1">
                                    	<div class="hmb">
                                        	<div class="hmbimg">
                                                <div class="hmbimgk">
                                                    <div class="imgk">
                                                        <img src="__PUBLICURL__/manage/img/mb1.jpg"  width="390px" />
                                                        <img src="__PUBLICURL__/manage/img/mb12.jpg"  width="390px" />
                                                        <img src="__PUBLICURL__/manage/img/mb13.jpg"  width="390px" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hmbtext">
                                            	模板1：蓝色校园风格，配橙色增加活泼感。模板页重点突出幻灯片导航大图 ，栏目支持自定义，栏目内容引用平台上的直播或课程页面
                                                <br /><br />
                                                                                               <p>操作说明：设置好站点域名，选择您要的模板。进入”栏目管理“填写栏目，设置好每个栏目的配置，再根据栏目选择每个视频的科目位置，最后完善好”联系我们”。</p>

                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="hmbk" id="hmbk2">
                                    	<div class="hmb">
                                        	<div class="hmbimg">
                                            <div class="hmbimgk">
                                            <div class="imgk">
                                            	<img src="__PUBLICURL__/manage/img/mb2.jpg"  width="390px" />
                                                <img src="__PUBLICURL__/manage/img/mb22.png"  width="390px" />
                                                <img src="__PUBLICURL__/manage/img/mb23.png"  width="390px" />
                                            </div>
                                            </div>
                                            </div>
                                            <div class="hmbtext">
                                            	模板2:现代简约风，整体采用扁平模块搭配。模板重点突出视频展示页，栏目支持平台上的直播页面，子页面的筛选功能更方便学生观看和学习。
                                                <br /><br />
                                                                                               <p>操作说明：设置好站点域名，选择您要的模板。进入”栏目管理“填写栏目，设置好每个栏目的配置，再根据栏目选择每个视频的科目位置，最后完善好”联系我们”。</p>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="hmbk" id="hmbk3">
                                    	<div class="hmb">
                                        	<div class="hmbimg">
                                            <div class="hmbimgk">
                                            <div class="imgk">
                                            	<img src="__PUBLICURL__/manage/img/mb3.jpg"  width="390px" />
                                                <img src="__PUBLICURL__/manage/img/mb32.jpg"  width="390px" />
                                                <img src="__PUBLICURL__/manage/img/mb33.jpg"  width="390px" />
                                            </div>
                                            </div>
                                            </div>
                                            <div class="hmbtext">
                                            	模板3：高端简约风格，整体采用国外排版设计，页面的留白突出视频的展示效果。模板重点突出网站的分类页面，详细的分类可以让学生更加直观的看到自己课程和教学。
                                                <br /><br />
                                                                                               <p>操作说明：设置好站点域名，选择您要的模板。进入”栏目管理“填写栏目，设置好每个栏目的配置，再根据栏目选择每个视频的科目位置，最后完善好”联系我们”。</p>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    </div>
                                    <div class="btmnavk">
                                    	<div class="bnav" title="#hmbk1">
                                        	<input type="radio" value="res" name="hmb" checked="checked"/>模板1
                                        </div>
                                        <div class="bnav" title="#hmbk2">
                                        	<input type="radio" value="tianyuan" name="hmb"/>模板2
                                        </div>
                                        <div class="bnav" title="#hmbk3">
                                        	<input type="radio" value="shixiao" name="hmb"/>模板3
                                        </div>
                                    </div>
                                    <div class="toright"></div>
                                  </div>
                                  <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" data-dismiss="modal" id="choosemb">确定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            
						</td>
					</tr>
					<tr>
						<td>
							开启/关闭站点：
						</td>
						<td>
							<div>
								<input type="radio" name="isopen" id="" value="0" <?php if(!$info['isopen']){ ?> checked <?php } ?>  />关闭&nbsp;&nbsp;&nbsp;
								<input type="radio" name="isopen" id="" value="1"<?php if($info['isopen']){ ?> checked <?php } ?> />开启
                                &nbsp;&nbsp;
                                <div class="movetishi">
                            	
                                
                                	<div class="tishik">
                                    	不使用站点功能时，请选择关闭
                                        <br />
										关闭后，您将无法使用站点功能
                                    </div>
                            	</div>
								
							</div>
							
						</td>
					</tr>
                   	
				</table>
				
				<div class="btns">
					<button type="submit">
						保存
					</button>
					
				</div>
                </form>
			</div>
		</div>
<script type="text/javascript">
var mbindex=0;
$('.toleft').click(function(){
	if(mbindex==0){
		
	}else{
		mbindex--;
		$('.imgk').stop().animate({left:mbindex*-390},700);
	}
	
});
$('.toright').click(function(){
	if(mbindex==2){
		
	}else{
		mbindex++;
		$('.imgk').stop().animate({left:mbindex*-390},700);
	}
});

$('.btmnavk .bnav').click(function(){
	mbindex=0;
	$('.imgk').stop().animate({left:0},700);
	var id=$(this).attr('title');
	$(this).parents('.btmnavk').find('input').prop("checked",false);
	$(this).parents('.btmnavk').find('.iradio_minimal').removeClass('checked');
	$(this).parents('.btmnavk').find('.iradio_minimal').attr('aria-checked',false);
	 $(this).find('input').prop('checked',true);
	 $(this).find('.iradio_minimal').addClass('checked');
	 $(this).find('.iradio_minimal').attr('aria-checked',true);
	 
	 $(id).addClass('active').siblings('.active').removeClass('active');
	 
	 
});


$('.btmnavk .bnav input').click(function(){
	mbindex=0;
	$('.imgk').stop().animate({left:0},700);
	var id=$(this).parents('.bnav').attr('title');
	 $(this).parents('.btmnavk').find('.iradio_minimal').removeClass('checked');
	$(this).parents('.btmnavk').find('.iradio_minimal').attr('aria-checked',false);
	$(this).parents('.bnav').find('.iradio_minimal').addClass('checked');
	 $(this).parents('.bnav').find('.iradio_minimal').attr('aria-checked',true);
	 $(id).addClass('active').siblings('.active').removeClass('active');
	 
	  
});

$('#choosemb').click(function(){
	$('.btmnavk .iradio_minimal').each(function() {
        if($(this).hasClass('checked')){
			 $('#mbval').val($(this).find('input').val());
		}
    });
});

		
//提交表单
saveform({success:function(msg){tip({msg:msg})},failure:function(msg){tip({msg:msg})}});
</script>	
