<div id="central" class="warp">
  {include file="index/menu"}
  <div id="main" class="friends">
    <div id="header">
      <div class="title">
        <h1>我的好友</h1>
      </div>
      <div class="return"><a href="__APP__/">中心首页</a></div>
      <div class="fn-clear"></div>
    </div>
      	<?php if(empty($list)){ echo '<div class="tools">暂时没有添加好友</div>';} ?>
    <div class="friends-list">
      <ul>
      	<!--foreach:{$list $vo}-->
        <li>
        <div class="user-pic"><img src="<?php echo model('user')->picture($user_info['uid'],2); ?>" /></div>
        <div class="user-menu">
        
        <div><a href="__APP__/home/index/{$vo.uid}.html" target="_blank"><?php if($vo['remark']){ echo $vo['remark']; }else{ echo $vo['nicename']; }  ?> ({$vo.username})</a></div>
        <div><a class="button_small" href="__APP__/message/post.html?user={$vo.username}">发送信息</a> <a class="button_small" href="javascript:;" onclick="del({$vo.uid},this)">解除好友</a> <a class="button_small" href="__URL__/edit/{$vo.uid}.html">修改备注</a>  </div>
        </div>
        <div class="fn-clear"></div>
        </li>
        <!--{/foreach}-->
      </ul>
    </div>
    <div class="fn-clear"></div>
  </div>
  <div class="pages">{$page}</div>
  <div class="fn-clear"></div>
</div>
<script>
function del(uid,obj) {
	var obj;
	ajax_confirm({
		name:'确认要解除本好友的关系吗？',
		url:"__URL__/del",
		data:{fid: uid},
		success:function(msg){
			$.duxnotice.success(msg);
			$(obj).parent().parent().parent().remove();
		},
		failure:function(msg){
			$.duxnotice.failure(msg);
		}
	});
}
</script>