.aui_content{
	padding: 30px 65px 30px 65px !important;
	width:450px !important;
	text-align:center;
}
.aui_buttons{
	border:0;
}
.aui_state_noTitle{
	left:20% !important;
	width:60% !important;
}
.aui_dialog{
	position:relative;
}
.aui_icon div{
	height:117px;
	width:117px;
	position:absolute;
	left:38%;
	top:22%;
}
.aui_titleBar{
	display:none;
}