*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "微软雅黑";
	font-size:18px;
}
ul,ol,li{
	list-style:none;
}
body * { max-height: 999999px; }
.header{
	height:455px;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.interval{
	height:15px;
	background-image:url(../img/jiange.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.main{
	padding:45px 35px;
	background:#FFFEE1;
}
.main .borderk img{
	width:100%;
}
.main .wcontent{
	background-image:url(../img/centerb.jpg);
	background-repeat:repeat-y;
	background-size:100% auto;
	padding:10px 45px;
}
.main .wcontent p{
	font-size:22px;
}
.main .wcontent h4{
	font-size:25px;
	color:#fff;
	text-shadow:#000 2px 0 0,#000 0 2px 0,#000 -2px 0 0,#000 0 -2px 0;
	text-align:center;
	margin:25px 0;
}
.main .wcontent .problems input{
	height:25px;
	width:25px;
	margin-right:5px;
	position:relative;
	top:5px;
}
.main .wcontent .problems .problemchoose{
	text-align:center;
}
.main .wcontent .problems li{
	margin-bottom:14px;
	font-size:22px;
}
.main .wcontent .problems li.table{
	text-align:center;
}
.main .wcontent .problems li input:first-child+input{
	margin-left:40px;
}
.main .wcontent button.tijiao{
	background-image:url(../img/btnbg.png);
	display:block;
	width:195px;
	height:75px;
	margin:0 auto;
	background-repeat:no-repeat;
	background-size:100% 100%;
	text-align: left;
    padding-left: 60px;
    padding-top: 8px;
	font-size:24px;
	background-color:#fff;
	border:0;
}
.aui_state_noTitle{
	left:10% !important;
	width:80% !important;
	font-size:22px;
}
.aui_state_focus .aui_content div{
	font-size:22px;
}