.comment>div{
		overflow:inherit!important;
	}
	.down{
		top: 68px;
	}
	.aui_state_focus .aui_buttons{
		text-align:center;
	}
	.aui_state_focus  .aui_buttons>button{
		margin-left:0;
		background:#fff;
		border:1px solid #D6D6D6;
		color:#333;
	}
	.aui_state_focus  .aui_border{
		width:210px;
	}
	.aui_state_focus .aui_title{
		background:#ADADAD;
	}
	.aui_state_focus .aui_content{
		font-size:20px;
	}
	.aui_state_focus  .aui_buttons{
		border:0;
	}
*{
	padding:0;
	margin:0
}
body,html{
	height:99%;
	width:100%;
	}
.full{
	width:100%;
	height:100%;
	}
#CuPlayer{
	width:100%;
	height:100%;
	position:relative;
	}
#videoPlayer {
	width:100%;
	height:100%;
	}
#videoPlayer object{
	width:100%;
	height:100%;
	}	
#videoPlayer embed{
	width:100%;
	height:100%;
	}	
.down {
    font-size: 1em;
    text-align: center;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.down .doo {
    border-radius: 6px;
    opacity: 0.8;
	width:60%;
	height:27%;
	margin: 0;
	padding:0;
	position:absolute;
	bottom:0;
	margin-left:-29%;
	left:50%
}
#dao{
	font-size:12px;
	line-height:23px
	}
.bannercontent{
		padding:0;
		width:1000px;
		height:225px;
		box-shadow:none;
		background: rgba(255,255,255,0.5);
		margin-top: 75px;
	}
	.bannercontent p.school{
		margin:0;
		margin-top:52.5px;
		font-size:60px;
		height:120px;
		line-height:120px;
		text-align:center;
		color:#3e3e3e;
	}
#layout{
				padding-bottom:30px;
			}
        	.logo img{
				height:100px;
				width:100px;
			}
			.logo{
				text-align:center;
			}
			.discrption {
				margin-top:5px;
			}
			.tabledetail{
				
				color:#8A8888;
				border:0;
				border-radius:3px;
				padding:0px;
				margin:0 30px;
				margin-top:20px;
			}
			.tabledetail>div{
				background-image:none;
			}
			.tabledetail #form{
				padding:10px;
				background:#EAEAEA;
			}
			.ui-form-item{
				height:inherit;
				line-height:35px;
			}
			#form .ui-form-item{
				height:inherit;
				line-height:inherit;
				border:0;
			}
			#form .ui-form-item label{
				position:inherit;
				font-size:12px;
				color:#8A8888;
			}
			#layout .ui-form-item label{
				font-size:12px;
				color:#8A8888;
				top: 2.5px;
				text-align: center;
				color: #000;
				width: 85px;
			}
			#form .ui-form-item input{
				padding:0;
				height:35px;
				background:#fff;
				border-radius:3px;
				padding-left:15px;
				font-size:13px;
				margin:10px 0;
			}
			#form .ui-form-item-r button{
				width: 70px;
    			height: 35px;
				top:inherit;
				bottom:10px;
				right:15px;
				background:#51A8B9;
				color:#fff;
				font-size:13px;
			}
			#form .ui-form-item-r{
				padding-right:15px;
			}
			#form .ui-btn-primary{
				width:90%;
				background:#51A8B9;
			}
			.ui-form-item-l span{
				display:block;
				height:40px;
				background:#fff;
				margin-bottom:13px;
				padding:0;
				font-size:13px;
				border-radius:3px;
				border:1px solid #c2c2c2;
				padding-left: 110px;
    			color: #000;
				line-height:40px;
			}
			.form_submit a{
				display:block;
				width:90%;
				height:35px;
				margin:20px auto;
				margin-bottom:10px;
				background:#51A8B9;
				color:#fff;
				font-size:14px;
				line-height:35px;
				border-radius:3px;
			} 
			.ui-border-b{
				border:0;
			}
			#layout .signup .tabledetail .bottom{
				position: fixed;
				bottom: 30px;
				width: 84%;
				padding: 0;
				color: #51A8B9;
				text-align: center;
				font-size: 16px;
			}
			#layout .signup .tabledetail .bottom b{
				display: inline-block;
				width: 30%;
				border-top: 1px solid #AFAFAF;
				position: relative;
				top: -6px;
				left: -15px;			
			}
			#layout .signup .tabledetail .bottom b:last-child{
				left:inherit;
				right:-15px;
			}