
.nav{ width:1000px; margin: 0 auto; margin-top:40px; }
.video p{ font-size:20px;}
.synopsis{ background:#f3f3f3; width:100%; min-height:290px; margin-top:30px;}
.synopsis p{ width:90%; margin: 0 auto; line-height:30px; font-size:14px; padding-top:18px;}
.synopsis span{ width:91%; float:right;}