
 
<div id="postmanage">
			<h4>
				自定义表单
			</h4>
			<div class="borderk postk">
				
				<div class="tosearch">
					 <form  method="get" >
					<input type="text" name="s" id="" value="" placeholder="请输入关键字"/>
					<button type="submit">
						查询
					</button>
                    </form>
				</div>
			<a href="__URL__/add"  class="sendlive">添加</a>
			</div>
			<table width="100%" cellspacing="0" class="oftentable">
				<tr class="bgth">
					<th style="text-align:left; padding-left:20px;" width="30%">名称</th>
					
					<th width="20%">创建时间</th>
                    <th width="20%">访问二维码</th>
					
					<th width="10%">操作</th>
				</tr>
                  <!--foreach:{$list $vo}-->
				<tr>
					
					<td style="text-align:left; padding-left:20px;">
						{$vo.name}
					</td>
					
					<td>
							 {$php(echo date('Y-m-d H:i',$vo['time']))}
						
					</td>
                    <td class="isqr">
                    
                    	<img class="smqr" src="<?php 
      $url = "http://".$sys['MOBILE_DOMAIN']."/selfform/index/fid-".$vo['id']."?token=".$token;
          model('live')->getQrcode($url, 'selfform_'.$vo['id']);
          echo $img = "/upload/aidimage/selfform_".$vo['id'].".png";
        ?>" width="80px"/>
        
        	<img class="bigqr" src="<?php 
      $url = "http://".$sys['MOBILE_DOMAIN']."/selfform/index/fid-".$vo['id']."?token=".$token;
          model('live')->getQrcode($url, 'selfform_'.$vo['id']);
          echo $img = "/upload/aidimage/selfform_".$vo['id'].".png";
        ?>" width="180px"/>
                    </td>
					
					<td class="operation">
						<button>
							操作
						</button>
						<ul>
                        <li>
								<a href="<?php echo ROOTAPP ?>/selfform/showpc?id={$vo.id}&token={$token}" target="_blank">
									大屏幕
								</a>
							</li>
                            <li>
								<a href="<?php echo ROOTAPP ?>/selfform/showdata?id={$vo.id}&token={$token}" target="_blank">
									数据屏幕
								</a>
							</li>
                        	<li>
								<a href="__URL__/infos/id-{$vo.id}">
									信息管理
								</a>
							</li>
                            <li>
								<a href="__URL__/inputs/id-{$vo.id}">
									输入项管理
								</a>
							</li>
							<li>
								<a href="__URL__/edit/id-{$vo.id}">
									编辑
								</a>
							</li>
							<li>
								<a href="javascript:;"  onClick="del({$vo.id},this)">
									删除
								</a>
							</li>
							
						</ul>
					</td>
				</tr>
				 <!--{/foreach}-->
			</table>
               <div class="page">
     					 <ul class="pagination">
                                 {$page}
                                        </ul>
					 </div>		
		</div>
     
   <script>
   
   //删除
function del(id,obj) {
	
	

	ajaxpost({
		name:'确定要删除此记录？',
		url:"__URL__/del",
		data:{id: id},
		tip:1,
		success:function(){
			$(obj).parent().parent().parent().parent().remove();
		}
	});
}

//
$('.smqr').mouseover(function(){
	$(this).siblings('.bigqr').show();
}).mouseout(function (){
   	$(this).siblings('.bigqr').hide();  
}); 
</script>