<script src="__PUBLICURL__/data/js/AdminLTE/newapp.js" type="text/javascript"></script>
 <script src="__PUBLICURL__/data/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<div class="page_main">
 
<div id="postmanage">
			<h4>
			{$info.name}数据列表
			</h4>
			<div class="borderk postk">
				
			
				 <a href="__URL__/infos/id-{$info.id}-download-true" >导出</a>
				
			
			</div>
            <div class="scrolldiv" id="scrolldiv">
			<table style="min-width: 1350px; transform: rotate(180deg);"  cellspacing="0" class="oftentable">
				<tr class="bgth">
                	<th style="text-align:left; padding-left:20px;" width="10%">ID</th>
					    <!--foreach:{$formlist $vo}-->
                        <th width="15%">{$vo.name len="10"}</th>
                        
					 <!--{/foreach}-->
					
					
					<th width="130px">操作</th>
				</tr>
                  <!--foreach:{$list $vo}-->
				<tr>
					
					<td style="text-align:left; padding-left:20px;">
						<input name="id[]" type="checkbox" id="id[]" value="{$vo['id']}" >{$vo.id}
					</td>
					 <!--foreach:{$formlist $model}-->
					<td>
					<?php  echo model('expand_model')->get_list_model($model['type'],$vo['values'][$model['field']],$model['options']); ?>	
						
					</td>
						 <!--{/foreach}-->
					<td class="operation">
						<button>
							操作
						</button>
						<ul>
                        	
							<li>
								<a href="javascript:;"  onClick="del({$vo.id},this)">
									删除
								</a>
							</li>
							
						</ul>
					</td>
				</tr>
				 <!--{/foreach}-->
			</table>
            
            </div>
		</div>
       <div class="page_tool">
	<div class="function">
  <input type="button" onclick="javascript:selectall('id[]');" class="button_small" value="全选" />
 


 <input type="button" onclick="javascript:audit(2);"  class="button_small" value="删除" />

  
  </div>
  	<div class="page">
     					 <ul class="pagination">
                                 {$page}
                                        </ul>
					 </div>	
</div>

<script>
//选择
function selectall(name){   
    $("[name='"+name+"']").each(function(){//反选   

    if($(this).parent().hasClass("checked")){   
          $(this).parent().removeClass("checked"); 
		   $(this).removeAttr("checked");   
   
    }else{  
			
          $(this).attr("checked",'true');     
          $(this).parent().addClass("checked");   
    }   
    })  
}

//批量操作
function audit(status){
	var str="";
	$("[name='id[]']").each(function(){
    if($(this).parent().hasClass("checked")){
		  str+=$(this).val()+","; 
    }
    })
	
	ajaxpost({
		name:'您确认要继续进行操作吗？操作将无法撤销！',
		url:"__URL__/value_batch",
		data:{status: status, id:str, fid:'{$info.id}'},
		tip:1,
		success:function(){
			window.location.reload();	
		}
	});
}

//删除
function del(id,obj) {
	
	

	ajaxpost({
		name:'确定要删除此记录？',
		url:"__URL__/value_del",
		data:{id: id,fid: {$info.id}},
		tip:1,
		success:function(){
			$(obj).parent().parent().parent().parent().remove();
		}
	});
}
$(function(){
	document.getElementById('scrolldiv').scrollLeft=5000;
});
</script>