<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{$css}
</head>
<body scroll="no">

<div class="page_form">
<form autocomplete="off" action="__URL__/{$action}_save/time-<?php echo time(); ?>-ajax-true" method="post" id="form">
<div class="page_table form_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    
    <tr>
        <td width="120" align="right">字段名称</td>
        <td>
          <input name="name" type="text" class="text_value" id="name" value="{$info.name}" reg="\S" msg="字段名称不能为空" />
        
        
        </td>
        </tr>
      <tr>
       <tr>
        <td width="120" align="right">字段名</td>
        <td>
          <input name="field" type="text" class="text_value" id="field"  style="width:100px;" value="{$info.field}" reg="[a-zA-Z_]" msg="字段名只能为英文和下划线" />
        </td>
        </tr>
      <tr>
        <td width="140" align="right">字段类型</td>
        <td width="350">
          <select name="type" id="type" onchange="fildtype($(this).val())">
            <!--foreach:{$field_type $key $vo}-->
            <option value="{$key}" <?php if($info['type']==$key){ ?> selected="selected" <?php } ?> >{$vo.name}</option>
            <!--{/foreach}-->
            </select>
        </td>
      </tr>
      
      <tr>
        <td width="120" align="right">是否必填</td>
        <td>
        <?php if(!isset($info['must'])){ $info['must']=0; } ?>
          <input name="must" type="radio" value="1" <?php if($info['must']==1){ ?> checked="checked" <?php } ?> />
          是
          &nbsp;&nbsp;
          <input name="must" type="radio" value="0" <?php if($info['must']==0){ ?> checked="checked" <?php } ?> />
          否
        
        </td>
        </tr>
      
       <tr>
        <td width="120" align="right">字段提示</td>
        <td>
          <input name="tip" type="text" class="text_value" id="tip" value="{$info.tip}" style="width:150px;" />
          &nbsp;&nbsp;字段顺序
          &nbsp;<input name="sequence" type="text" class="text_value" id="sequence" style="width:30px;" reg="[0-9]" value="{$info.sequence isset="0"}" />
        </td>
        </tr>
       <tr>
        <td width="120" align="right">字段配置</td>
        <td><textarea name="options" class="text_textarea" id="options">{$info.options html}</textarea>
        </td>
       </tr>
      
    </table>
</div>
<!--普通提交-->
<div class="form_submit">
<input name="fid" type="hidden" value="{$form.id}">
<input name="id" type="hidden" value="{$info.id}">
<button type="submit" class="button">保存</button> 
</div>
</form>
</div>
</div>
<script type="text/javascript">
//提交表单
var win = art.dialog.open.origin;
saveform({
	success:function(){
		win.location.reload();
    art.dialog.close();
	},
	failure:function(msg){
		tip({msg:msg});
	}}
);
//获取最佳设置
function fildtype(type){
	type=parseInt(type);
	switch (type) {
		case 1:
		case 4:
		case 10:
		case 7:
		case 9:
			$('#property').val(1);
			$('#len').val(250);
			$('#decimal').val(0);
			break;
		case 6:
		case 8:
			$('#property').val(2);
			$('#len').val(10);
			$('#decimal').val(0);
			break;
		case 2:
		case 3:
		case 5:
			$('#property').val(3);
			$('#len').val(0);
			$('#decimal').val(0);
			break;
   }
}
</script>
</body>