<div id="central" class="warp">
  {include file="index/menu"}
  <div id="main">
    <div id="header">
      <div class="title">
        <h1>会员中心</h1>
        <div class="small">头像上传</div>
      </div>
      <div class="return"><a href="__APP__/">中心首页</a></div>
      <div class="fn-clear"></div>
    </div>
    <div class="form">
		<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
WIDTH="650" HEIGHT="450" id="myMovieName">
<PARAM NAME=movie VALUE="__PUBLIC__/images/avatar.swf">
<PARAM NAME=quality VALUE=high>
<PARAM NAME=bgcolor VALUE=#FFFFFF>
<param name="flashvars" value="imgUrl=<?php echo model('user')->picture($user_info['uid'],4); ?>&uploadUrl=__URL__/avatar_data.html?action=uploadavatar&uploadSrc=false" />
<EMBED src="__PUBLIC__/images/avatar.swf" quality=high bgcolor=#FFFFFF WIDTH="650" HEIGHT="450" wmode="transparent" flashVars="imgUrl=<?php echo model('user')->picture($user_info['uid'],1); ?>&uploadUrl=__URL__/avatar_data.html?action=uploadavatar&uploadSrc=false"
NAME="myMovieName" ALIGN="" TYPE="application/x-shockwave-flash" allowScriptAccess="always"
PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">
</EMBED>
</OBJECT>
    </div>
  </div>
  <div class="fn-clear"></div>
</div>
<script type="text/javascript">
function uploadevent(status) {
    
}

</script>