<link href="__PUBLIC__/css/personal.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/css/style_1.css" type="text/css" rel="stylesheet">
<!--start 中间-->
<div class="personalBox clearfix">
  {include file="index/menu"}
  <div class="personalBody right">
      <h3>密码修改</h3>
       <div class="form">
        <form action="__URL__/password_data.html" method="post" id="form">
          <ul>
              <li><label>用户名：</label> {$user_info.username}</li>
                <li><label><span class="red">*</span> 原始密码：</label> <input name="old_password" type="password" class="text" id="old_password" reg="\S" msg="原始密码未填写" > </li>
                <li><label><span class="red">*</span> 新密码：</label> <input name="password" type="password" class="text" id="password" reg="\S{{$user_config.reg_password_length_min},{$user_config.reg_password_length_max}}" msg="密码不能为空且支持{$user_config.reg_password_length_min}~{$user_config.reg_password_length_max}位" > </li>
                <li><label><span class="red">*</span> 重复密码：</label> <input name="password2" type="password" class="text" id="password2" repeat="#password" reg="\S" msg="密码重复输入错误" > </li>
                <!--hook-->
                <?php module('common')->plus_hook('information','password_tpl');  ?>
                <!--hook end-->
                <li><label></label> <button class="button" type="submit">提交</button></li>
            </ul>
        </form>
      </div>
  </div>
  <div class="fn-clear"></div>
</div>
<style>
  body ,html{background: #fff;}
</style>
<script>
saveform({
	success:function(msg){
		$.duxnotice.success(msg);
	},
	failure:function(msg){
		$.duxnotice.failure(msg);
	}
});
</script> 