<div class="page_function">
  <div class="info">
    <h3>视频通道管理</h3>
    <small>将栏目与视频通道绑定来实现附加字段功能</small> </div>
  <div class="exercise"> 
   <a href="javascript:menuload('__URL__')">视频通道列表</a>
   <?php if(model('user_group')->model_power('expand_model','add')){ ?>
   <a href="javascript:;" onclick="add()">添加视频通道</a>
   <?php } ?>
  
   </div>
</div>
<div class="page_main">
  <div class="page_table table_list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="10%"><center>id</center></th>
        <th width="10%">通道名称</th>
        <th width="20%">所属管理员</th>
         <th width="10%">vMp4url</th>
<!--         <th width="25%">vServer</th>
          <th width="10%">vMp4url</th>
        <th width="25%">vIosurl</th> -->
        <th width="10%"><center>操作</center></th>
      </tr>
      <!--foreach:{$list $vo}-->
      <tr>
        <td><center>{$vo.id}</center></td>
        <td>{$vo.name}</td>
        <td>{$users[$vo['adminid']]}</td>
         <td>{$vo.vMp4url}</td>
<!--         <td>{$vo.vServer}</td>
        <td>{$vo.vMp4url}</td>
        <td>{$vo.vIosurl}</td> -->
        <td><center>
         &nbsp;&nbsp;<a  href="javascript:void(0);" onclick="edit('{$vo.id}')">修改</a>
         &nbsp;&nbsp;<a href="javascript:void(0);" onclick="del('{$vo.id}',this)">删除</a>
         </center></td>
      </tr>
      <!--{/foreach}-->
    </table>
  </div>
</div>

<div class="page_tool">
  <div class="page">{$page}</div>
</div>
<script>
//添加
function add() {
	urldialog({
	title:'视频通道添加',
	url:'__URL__/add'
	});
};
//修改
function edit(url) {
	urldialog({
	title:'视频通道编辑',
	url:'__URL__/edit/id-'+url
	});
};

//删除
function del(id,obj) {
	var obj;
	ajaxpost({
		name:'删除视频通道后会同时视频通道下级内容! ',
		url:"__URL__/del",
		data:{id: id},
		tip:1,
		success:function(){
			$(obj).parent().parent().parent().remove();
		}
	});
}
</script>