
	<div id="accredit" <?=!$info['oauth']?'style="display:none"':'';?>>
    	<div class="actk">
        	<h5>
            	<img src="/public/data/img/succeed.png"/>
            	您的公众号授权成功
            </h5>
            <img class="headimg" src="{$info.headerpic}"/>
            <p>{$info.wxname}</p>
        </div>
        <span class="tochange">更改公众号</span>
    </div>
    
    
    <div id="unaccredit" <?=$info['oauth']?'style="display:none"':'';?>>
    	<div class="uactk" onClick="tocomponentloginpage()">
        	<h5>安全模式</h5>
            <p>登录公众号，一键授权</p>
        </div>
    	
    </div>


<script>
//提交表单
savelistform({addurl:"__URL__/wechat_info",listurl:"javascript:history.go(-1)"});
        $(document).ready(function() {
            $('#image1').click(function(){
                urldialog({
                    title:'图片上传',
                    url:'__APP__/editor/image_upload?id=image&editor=editor_content',
                    width:620,
                    height:240
                });
            });
        });
function tocomponentloginpage(){   
	window.location="https://mp.weixin.qq.com/cgi-bin/componentloginpage?component_appid={$config.kfappid}&pre_auth_code=<?=getpre_auth_code($config['kfappid'],$config['kfappsecret'])?>&redirect_uri=<?=urlencode('http://live.shanyueyun.com/userhome/index.php/wechat/componentlogin')?>";
	
	}
	$('.tochange').click(function(e) {
      $('#accredit').hide();  
	  $('#unaccredit').show();  
    });
        </script>