<div id="central" class="warp"> {include file="index/menu"}
  <div id="main" class="friends">
    <div id="header">
      <div class="title">
        <h1>我的收藏</h1>
      </div>
      <div class="return"><a href="__APP__/">中心首页</a></div>
      <div class="fn-clear"></div>
    </div>
    <div id="tab" class="tabs">
      <ul>
        <li><a class="selected"  href="#">添加收藏</a></li>
        <li><a href="__URL__/index.html">返回收藏</a></li>
      </ul>
      <div class="menu"> </div>
      <div class="fn-clear"></div>
    </div>
    <div class="form">
    <form action="__URL__/add_data.html" method="post" id="form">
    	<ul>
       	  <li><label>收藏内容：</label> <a href="__URL__/content/{$info.aid}.html" target="_blank">{$info.title}</a> </li>
          <li><label>备注：</label>  <input name="remark" type="text" class="text"  id="remark" value="{$info.title}" style="width:400px;" ></li>
          <input name="aid" type="hidden" value="{$info.aid}" />
          <li><label></label> <button class="button" type="submit">确认收藏</button></li>
        </ul>
    </form>
    </div>
    <div class="fn-clear"></div>
  </div>
  <div class="fn-clear"></div>
</div>
<script>
saveform({
	success:function(msg){
		window.location.href=msg;
	},
	failure:function(msg){
		$.duxnotice.failure(msg);
	}
});
</script> 