<div id="central" class="warp">
  {include file="index/menu"}
  <div id="main">
    <div id="header">
      <div class="title">
        <h1>会员中心</h1>
      </div>
      <div class="return"><a href="__APP__/">中心首页</a></div>
      <div class="fn-clear"></div>
    </div>
    <div class="box">
      <div class="user-box">
        <div class="user-pic"> <a href="__APP__/information/avatar.html"><img src="<?php echo model('user')->picture($user_info['uid']); ?>" width="120" height="120" /></a> </div>
        <div class="user-info">
          <h3>尊敬的<span class="red"> {$user_info.nicename} ({$user_info.username})</span>，欢迎您！</h3>
          <div class="info-list">
            <ul>
              <li><span class="title">会员组：</span> {$user_info.gname}</li>
              <li><span class="title">会员邮箱：</span> {$user_info.email}</li>
              <li><span class="title">本次登录IP：</span> {$user_info.reg_ip}</li>
              <li><span class="title">注册IP：</span> {$user_info.last_ip}</li>
              <li><span class="title">注册时间：</span> {$user_info.reg_time time="Y年m月d日"}</li>
              <li><span class="title">本次登录时间：</span> {$user_info.last_time time="Y年m月d日"}</li>
            </ul>
          </div>
        </div>
        <div class="fn-clear"></div>
      </div>
    </div>
    <div class="box-title">
      <h2>信息统计</h2>
    </div>
    <div class="box">
      <ul>
        <li><span class="title">收短信：</span> <span class="red"><?php echo model('message')->count('A.to_uid='.$user_info['uid']); ?></span> 条</li>
        <li><span class="title">未读短信：</span> <span class="red"><?php echo model('message')->count('A.uid='.$user_info['uid'].' AND B.view=0'); ?></span>  条</li>
        <li><span class="title">好友：</span>  <span class="red"><?php echo model('friends')->count($user_info['uid']); ?></span> 个</li>
        <li><span class="title">收藏内容：</span>  <span class="red"><?php echo model('collection')->count($user_info['uid']); ?></span> 条</li>
        <!--hook-->
        <?php module('common')->plus_hook('index','count_tpl');  ?>
        <!--hook end-->
      </ul>
    </div>
    <!--hook-->
    <?php module('common')->plus_hook('index','box_tpl');  ?>
    <!--hook end-->
  </div>
  <div class="fn-clear"></div>
</div>