*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	box-sizing: border-box;
}
ul,ol,li{
	list-style: none;
}
img { border: 0;  }
a{
	text-decoration: none;
}
input{
	outline: none;
}
.clear{
	clear: both;
}
.h1, .h2, .h3, h1, h2, h3{
	margin:0;
}
.resk{
	padding:40px 0;
}
.resk.hot>ul li{
	margin-top:0;
	margin-bottom:20px;
}
.head_login{
	height:60px;
}
.head_login .logink{
	width:1000px;
	line-height:60px;
	font-size:12px;
	margin:0 auto;
}
.userlogo{
	float:right;
	height:60px;
}
.userlogo img{
	width:50px;
	height:50px;
	border-radius:50%;
	margin-top:5px;
}
.head_login .logink a{
	float:right;
	text-decoration:underline;
	color:#000;
}
.headbg{
	height:125px;
	background:url(../img/headbg.png) no-repeat;
	background-size:100%;
	padding:35px 0;
}
.headbg .headlogo{
	width:1000px;
	margin:0 auto;
}
.headbg .headlogo,.headbg .headlogo img{
	height:100%;
}
.head .navk{
	height:50px;
	background:#18A4EC;
}
.head .navk .nav{
	width:1000px;
	margin:0 auto;
}
.head .navk .nav ul {
	overflow:hidden;
}
.head .navk .nav ul li{
	float:left;
}
.head .navk .nav ul li a{
	height:50px;
	line-height:50px;
	padding:0 35px; 
	display:block;
	color:#fff;
	border-left:1px solid #0584CF;
	font-size:16px; 
}
.head .navk .nav ul li a:hover{
	background:#0584CF;
}
.head .navk .nav ul li.active a{
	background:#0584CF;
}
.head .navk .nav ul li:first-child a{
	border:0;
}

#bannerlb {
    height: 400px;
	width:1000px;
	margin:30px auto;
    overflow: hidden;
    position: relative;
}
#bannerlb .imgList {
    position: relative;
    width: 400%;
    z-index: 10;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
}
#bannerlb .imgList li {
    float: left;
    display: inline;
    width: 25%;
    height: 100%;
}
#bannerlb .imgList li img {
    width: 100%;
    height: 100%;
}
#bannerlb .indexList {
    position: absolute;
    right: 60px;
    bottom: 8px;
    z-index: 30;
    margin: 0;
}
#bannerlb .indexList li {
    float: left;
    margin-right: 5px;
    background: #DADADA;
    cursor: pointer;
    width: 14px;
    height: 8px;
}
#bannerlb .indexList li.indexOn{
	width:34px;
	background:#0584CF;
}
.mainall{
	width:1000px;
	margin:0 auto;
}
.idx_title{
	font-size:18px;
	line-height:50px;
	border-bottom:1px solid #DADADA;
	padding-left:35px;
	color:#18a4ec;
	background-image:url(../img/icon1.png);
	background-repeat:no-repeat;
	background-position:left center;
}
.idx_title a{
	float:right;
	color:#18a4ec;
	font-size:14px;
}
.hot>ul{
	padding-bottom:30px;
}
.hot>ul li{
	float:left;
	width:320px;
	height:280px;
	border-radius:3px;
	margin-right:20px;
	margin-top:20px;
}
.hot>ul li:hover{
	box-shadow: 7px 7px 10px 0px #e1e9ef;
}
.hot>ul li:nth-child(3n){
	margin-right:0;
}
.videoimg{
	height:200px;
	position:relative;
	border-radius: 3px 3px 0 0;
}
.videoimg .saoma{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
	text-align:center;
	display:none;
}
.videoimg .saoma p{
	color:#fff;
	font-size:16px;
	margin: 20px 0 10px 0;
}
.videoimg .saoma .spqr{
	width:120px;
	height:120px;
}
.videoimg .spimg{
	height:100%;
	width:100%;
	border-radius: 3px 3px 0 0;
}
.videotext{
	height:80px;
	border:1px solid #E6EDF4;
	border-top:0;
	border-radius: 0 0 3px 3px;
	padding: 13px 7px;
}
.videotext h5 {
    font-weight: normal;
    color: #111111;
    font-size: 14px;
    margin-bottom: 15px;
}
.videotext p span {
    color: #9FA0A0;
    font-size: 12px;
}
.videotext p span img {
    height: 23px;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.gteaherk .idx_title{
	background-image:url(../img/icon2.png);
}
.gteaherk>ul li{
	width: 235px;
	height: 320px;
	float: left;
	border-radius: 3px;
	border: 1px solid #EEF0F2;
	margin-right: 20px;
	margin-bottom: 54px;
	text-align: center;
	padding: 20px 15px;
}
.gteaherk>ul li:last-child{
	margin-right: 0;
}
.gteaherk>ul{
	padding-top: 35px;
}
.gteaherk>ul li .teaherhead{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 5px solid #EFEFEF;
}
.gteaherk>ul li a{
	color: #000;
	display:block;
}
.gteaherk>ul li:hover{
	box-shadow: 7px 7px 10px 0px rgba(219,227,233,0.75);
}
.gteaherk>ul li .t_name{
	margin: 14px 0;
	font-size: 14px;
}
.gteaherk>ul li span.heng{
	display: inline-block;
	width: 120px;
	transition: all 0.5s ease 0s;
	height: 3px;
	background: #DCDCDC;
	vertical-align: top;
}
.gteaherk>ul li .t_data{
	color: #808080;
	font-size: 12px;
	text-align: left;
}
.gteaherk>ul li:hover span.heng{
	width: 100%;
	background: #22B9FF;
}
.more{
	font-size: 14px;
	color: #111;
	display: block;
	margin: 0 auto;
	width: 157px;
	height: 47px;
	line-height: 45px;
	border: 1px solid #DEDEDE;
	border-radius: 3px;
	text-align: center;
	box-shadow: 2px 2px 10px 0px rgba(219,227,233,0.75);
	clear: both;
	background: #fff;
}
.schoolk{
	padding-bottom:40px;
}
.schoolk .idx_title{
	background-image:url(../img/icon3.png);
}
.schoolk>ul li{
	float:left;
	width:235px;
	height:125px;
	border:1px solid #E2E7EA;
	border-radius:3px;
	text-align:center;
	margin-right:20px;
	margin-top:40px;
	padding-top:12px;
}
.schoolk>ul li a{
	display:block;
}
.schoolk>ul li:hover{
	box-shadow: 7px 7px 10px 0px #e1e9ef;
}
.schoolk>ul li:nth-child(4n){
	margin-right:0;
}
.schoolk>ul li img{
	width:70px;
	height:70px;
}
.schoolk>ul li p{
	font-size:16px;
	margin-top:8px;
	color:#111;
}
.foot{
	background:#0288C7;
}
.foot p{
	font-size:18px;
	color:#fff;
	text-align:center;
	line-height:55px;
}
.now{
	height: 50px;
	background: #E8E8E8;
}
.now .text{
	width: 1000px;
	margin: 0 auto;
	line-height: 50px;
	font-size: 12px;
	background: url(../img/now.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: left center;
}
.now .text a{
	color: #000000;
}
.now .text a:hover{
	text-decoration: underline;
}
.teacherbg,.schoolbg{
	min-height:855px;
	background-image:url(../img/teacherbg.png);
	background-repeat:no-repeat;
	background-size: 100% auto;
	padding-top:30px;
}
.schoolbg{
	background-image:url(../img/schoolbg.png);
}
.res_nav{
	height: 55px;
	border: 1px solid #E0E5E9;
	background: #fff;
}
.res_nav ul{
	overflow: hidden;
	padding-right: 5px;
}
.res_nav ul li{
	float: left;
}
.res_nav ul li a{
	display: block;
	line-height: 53px;
	padding: 0 20px;
	font-size: 14px;
	color: #000;
}
.res_nav ul li.active a{
	background: #22B9FF;
	color: #fff;
}
.res_nav ul li.res_search{
	float: right;
	padding-top:8px;
}
.res_nav ul li.res_search form{
	position: relative;
}
.res_nav ul li.res_search form input{
	width: 190px;
	height: 35px;
	border: 1px solid #B4ADA8;
	border-radius: 20px;
	padding: 0 35px 0 15px;
}
.res_nav ul li.res_search form button{
	position: absolute;
	height: 30px;
	width: 30px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
	right: 5px;
	top: 2.5px;
	border: 0;
	background-color: transparent;
}
.res_main{
	margin-top: 10px;
	padding:20px 15px;
	border:1px solid #E0E5E9;
	background:#fff;
	margin-bottom:20px;
}
.res_main.gteaherk>ul,.res_main.hot>ul{
	padding:0;
}
.res_main.gteaherk>ul li{
	margin-bottom:15px;
	width:221px;
	height:310px;
	margin-right:28px;
}
.res_main.gteaherk>ul li:nth-child(4n){
	margin-right:0;
}
.page{
	text-align:center;
}
.page ul{
	text-align: center;
    overflow: hidden;
    display: inline-block;
}
.page ul li{
	display: inline-block;
    vertical-align: middle;
    float: left;
}
.page ul li a{
	display: block;
	color: #919294;
	padding: 5px 11px;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
}
.page ul li a.current{
	background:#22B9FF;
	color:#fff;
}
.teacherdata{
	overflow:hidden;
	border:1px solid #DCDCDC;
	background:#fff;
	margin-bottom:20px;
}
.teacherdata>div{
	float:left;
}
.teacherdata>div.timg{
	width:180px;
	text-align:center;
	height:150px;
}
.teacherdata>div.timg img{
	width:100px;
	height:100px;
	margin-top:24px;
	border-radius:50%;
	border:5px solid #EFEFEF;
}
.teacherdata>div.ttxt{
	width:818px;
	padding-top:30px;
	padding-right:25px;
}
.teacherdata>div.ttxt h5{
	font-size:18px;
	font-weight:normal;
	margin-bottom:10px;
}
.teacherdata>div.ttxt p{
	font-size:12px;
	color:#686868;
	line-height:25px;
}
.schooldata>div.timg img{
	border: 0;
    border-radius: inherit;
	width:65px;
	height:65px;
}
.schooldata>div.timg{
	height:115px;
	width:115px;
}
.schooldata>div.ttxt{
	width:883px;
}
.teacherdata>div.ttxt .videonum{
	text-align:right;
	color:#000;
}
.res_main.hot>ul li{
	width:305px;
	margin-right: 26.5px;
	margin-top:0;
	margin-bottom:20px;
}
.res_main.hot>ul li:nth-child(3n){
	margin-right:0;
}
.res_main.schoolk{
	padding-bottom:20px;
}
.res_main.schoolk>ul li{
	margin-top:0;
	margin-bottom:20px;
}
.res_main.schoolk>ul li{
	width:227px;
}
.fl_nav{
	
	margin-bottom: 35px;
	padding-top: 15px;
	background: #fff;
	border: 1px solid #DEE3E7;
	border-radius: 3px;
}
.fl_nav ul{
	overflow: hidden;
	border-bottom: 1px dashed #E8E8E8;
	padding-left: 65px;
	font-size: 12px;
	color: #111;
	position: relative;
	min-height: 30px;
	margin-top: 15px;
}
.fl_nav ul:first-child{
	margin: 0;
}
.fl_nav ul:last-child{
	border-bottom: 0;
}
.fl_nav ul li{
	margin-bottom: 15px;
	float: left;
	margin-right: 15px;
}
.fl_nav ul li a{
	display: inline-block;
	padding: 5px 8px;
	color: #111;
	border-radius: 3px;
}
.fl_nav ul li.current a{
	background: #2AADFC;
	color: #fff;
}
.fl_nav ul li.fl_search{
	position: absolute;
	left: 20px;
	top: 5px;
	font-weight: bold;
}
.fl_nav.listfl ul{
	padding-left:90px;
}
.listfl{
	margin-top:30px;
}
.listmain{
	margin-bottom:65px;
}
.listmain .fl_nav{
	margin-bottom:0;
}
.listmain .res_nav{
	margin-top:35px;
}
.shvideo{
	overflow:hidden;
	border:1px solid #D2D2D2;
	padding-bottom:5px;
	background:#fff;
}
.shvideo>div{
	float:left;
}
.shvideo>div.svideok{
	width:624px;
}
.shvideo>div.svideolist{
	width:374px;
}
.shvideo>div.svideok .vtitle{
	border-right:1px solid #D2D2D2;
}
.shvideo>div.svideok .vtitle .ssaoma{
	float:right;
	line-height:40px;
	position:relative;
}
.shvideo>div.svideolist .vtitle a{
	float:right;
	color:#18a4ec;
}
.shvideo>div.svideolist ul{
	padding:0 5px;
	height:440px;
	overflow-y:auto;
}
.shvideo>div.svideolist ul li{
	height:110px;
	border-bottom:1px dashed #DADADA;
	padding:5px 10px;
}
.shvideo>div.svideolist ul li a>div{
	float:left;
	height:98px;
	width:50%;
}
.shvideo>div.svideolist ul li a{
	display:block;
}
.shvideo>div.svideolist ul li div.svideoimg img{
	width:100%;
	height:100%;
}
.shvideo>div.svideolist ul li div.svideotxt{
	color:#787878;
	font-size:12px;
	padding-left:10px;
	padding-top:30px;
} 
.shvideo>div.svideok .vtitle .ssaoma .smqr{
	height:30px;
	width:30px;
	border:1px solid #000;
	vertical-align:middle;
}
.shvideo>div.svideok .vtitle .ssaoma .bgqr{
	width:100px;
	height:100px;
	position:absolute;
	border:1px solid #000;
	top: 40px;
    right: 0;
	display:none;
}
.shvideo .vtitle{
	height:40px;
	line-height:40px;
	background:#EEEEEE;
	padding:0 10px;
	font-size:14px;
}

.shvideo #play,.shvideo  #a1{
	height:440px;
}
.bjtu{
	height:440px;
	background-image:url(../img/novideo.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
}
























.logins{
	width:400px;
	height:380px;
	margin:95px auto;
	background: rgba(230,230,230,.5);
	padding: 10px;
}
.logink{
	height:100%;
	background:#fff;
}
.logink .loginnav{
	overflow:hidden;
}
.logink .loginnav a{
	float:left;
	width:50%;
	background: #eaeaea;
    color: #9e9e9e;
	height: 50px;
    text-align: center;
    line-height: 50px;
}
.logink .loginnav a.active{
	background: #fff;
    color: #505050;
}
.loginmain{
	padding-top:40px;
	text-align:center;
}
.loginmain p{
	font-size:18px;
	margin-bottom:20px;
}
.loginmain img{
	width: 185px;
    height: 185px;
    border: 1px solid #000;
    padding: 10px;
}


.videobg{
	background:#F7F7F7;
	padding-bottom:20px;
}
.contentBox{
	width:1000px;
	margin:0 auto;
}
.contentBox h3{
	font-size:22px;
	font-weight:normal;
	line-height:80px;
	position:relative;
}
.contentBox h3 .smqr{
	float:right;
	height:55px;
	width:55px;
	margin-top:12.5px;
	border:1px solid #000;
}
.contentBox h3 .bgqr{
	position:absolute;
	right:0;
	top:75px;
	height:170px;
	width:170px;
	border:1px solid #000;
	display:none;
	z-index:100;
}
#play,#a1{
	height:400px;
	background:#000;
}
.othershutter .nav-arrows li{
	top:165px;
}
.down {
    font-size: 45px;
    height: 400px;
    position: absolute;
    text-align: center;
    top:80px;
    width: 1000px;
}
.down .doo{
	margin-left:50px;
}
.down .endtime i{
	font-style:inherit;
}
.contentBox #mymodal{
	left:305px;
}