<div id="extendclass">
			<h4>
				扩展课程
			</h4>
			<div class="selectclassk borderk">
				<div>
                <a href="javascript:" onClick="add()"  class="sendlive">添加</a>
                <form method="get" style="display:inline-block; vertical-align:middle;">
					<span style="padding-top:5px;">
						选修课程：
					</span>
					<input type="text" name="s" id="s" value="" />
					<button class="query" style="position:static">
						查询
					</button>
                    </form>
				</div>
				<div class="chooseclass">
					<select name="bj_id">
						<option value="0">请选择班级</option>
                          <!--foreach:{$bj $vo}--> 
                             <option value="{$vo['id']}">
                                     {$vo.grade}年级{$vo.class}班
                                  </option>
                                  <!--{/foreach}-->
					</select>
					<button>
						导出报名信息
					</button>
				</div>
			</div>
			<table cellspacing="0" width="100%" class="oftentable">
				<tr class="bgth">
					<th>教师</th>
					<th>课程代码</th>
					<th>课程名称</th>
					<th>选修课组</th>
					<th>课程模块</th>
					<th>招生数</th>
					<th>每班限额</th>
					<th>报名人数</th>
					<th>场地</th>
					<th width="130px"></th>
				</tr>
                   <!--foreach:{$list $vo}-->
				<tr>
					<td>
					<!--	<input type="checkbox" name="" id="" value="{$vo.id}" />-->
						{$teacher[$vo['tid']]['name']}
					</td>
					<td>
						{$vo.code}
					</td>
					<td>
						{$vo.name}
					</td>
					<td>
						{$vo.group}
					</td>
					<td>
					{$vo.title}
					</td>
					<td>
						{$vo.number}
					</td>
					<td>
						{$vo.limitnum}
					</td>
					<td>
						{$vo.signupnum}
					</td>
					<td>
					{$vo.place}
					</td>
					<td class="operation">
						<button>
							操作
						</button>
						<ul>
							<li>
								<a href="javascript:" onClick="edit({$vo.id})">
									编辑
								</a>
							</li>
							<li>
								<a href="javascript:;"  onClick="del({$vo.id},this)">
									删除
								</a>
							</li>
							<li>
								<a href="__URL__/signup/cid-{$vo.id}">
									报名列表
								</a>
							</li>
						</ul>
					</td>
				</tr>
                <!--{/foreach}-->
				
			</table>
		</div>
  
 <script>
 function add(){
	urldialog({
		width:600,
	height:500,
	title:'课程操作',
	url:'__URL__/course_add/bid-{$bid}'
	});
	}
  function edit(id){
	urldialog({
		width:600,
	height:500,
	title:'课程操作',
	url:'__URL__/course_edit/id-'+id,
	});
	}
//删除
function del(id,obj) {
	
	

	ajaxpost({
		name:'确定要删除此课程？',
		url:"__URL__/course_del",
		data:{id: id},
		tip:1,
		success:function(){
			$(obj).parent().parent().parent().parent().remove();
		}
	});
}
</script>
