<div id="extendclass">
			<h4>
				扩展课程
			</h4>
			<div class="selectclassk borderk">
				<img src="__PUBLICURL__/manage/img/search2.png"/>
				<div>
					<span>
						选修课程：
					</span>
					<input type="text" name="" id="" value="" />
					<button class="query">
						查询
					</button>
				</div>
				<div class="chooseclass">
					<select name="">
						<option value="">请选择班级</option>
					</select>
					<button>
						导出报名信息
					</button>
				</div>
			</div>
			<table cellspacing="0" width="100%" class="oftentable">
				<tr class="bgth">
					<th>教师</th>
					<th>课程代码</th>
					<th>课程名称</th>
					<th>选修课组</th>
					<th>课程模块</th>
					<th>招生数</th>
					<th>每班限额</th>
					<th>报名人数</th>
					<th>场地</th>
					<th width="130px"></th>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="" id="" value="" />
						张雪
					</td>
					<td>
						ss
					</td>
					<td>
						电影赏析
					</td>
					<td>
						周四
					</td>
					<td>
						手工课程
					</td>
					<td>
						50
					</td>
					<td>
						10
					</td>
					<td>
						2
					</td>
					<td>
						逸夫楼
					</td>
					<td class="operation">
						<button>
							操作
						</button>
						<ul>
							<li>
								<a href="javascript:;">
									编辑
								</a>
							</li>
							<li>
								<a href="javascript:;">
									删除
								</a>
							</li>
							<li>
								<a href="javascript:;">
									报名列表
								</a>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="" id="" value="" />
						张雪
					</td>
					<td>
						ss
					</td>
					<td>
						电影赏析
					</td>
					<td>
						周四
					</td>
					<td>
						手工课程
					</td>
					<td>
						50
					</td>
					<td>
						10
					</td>
					<td>
						2
					</td>
					<td>
						逸夫楼
					</td>
					<td class="operation">
						<button>
							操作
						</button>
						<ul>
							<li>
								<a href="javascript:;">
									编辑
								</a>
							</li>
							<li>
								<a href="javascript:;">
									删除
								</a>
							</li>
							<li>
								<a href="javascript:;">
									报名列表
								</a>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="" id="" value="" />
						张雪
					</td>
					<td>
						ss
					</td>
					<td>
						电影赏析
					</td>
					<td>
						周四
					</td>
					<td>
						手工课程
					</td>
					<td>
						50
					</td>
					<td>
						10
					</td>
					<td>
						2
					</td>
					<td>
						逸夫楼
					</td>
					<td class="operation">
						<button>
							操作
						</button>
						<ul>
							<li>
								<a href="javascript:;">
									编辑
								</a>
							</li>
							<li>
								<a href="javascript:;">
									删除
								</a>
							</li>
							<li>
								<a href="javascript:;">
									报名列表
								</a>
							</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>