<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{$css}
{$js}
</head>
<body scroll="no">
<div class="page_function">
  <div class="info">
    <h3>分数{$action_name}</h3>
    <small>使用以下功能进行分数{$action_name}操作</small> </div>
</div>
<div class="page_form">
<form autocomplete="off" action="__URL__/{$action}_save/time-<?php echo time(); ?>-ajax-true" method="post" id="form">
<div class="page_table form_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    
    <tr>
        <td width="120" align="right">名称</td>
        <td>
          <input name="name" type="text" class="text_value" id="name" value="{$info.name}" reg="\S" msg="名称不能为空" placeholder="请填入分数名称，如：A,优" />
        
        
        </td>
        </tr>
    
        <td width="120" align="right">顺序</td>
        <td>
       <input name="sequence" type="text" class="text_value" id="sequence" style="width:30px;" reg="\S" value="{$info.sequence isset="0"}" />越小越前面，0-100
        </td>
        </tr>
      
      
    </table>
</div>

<!--普通提交-->
<div class="form_submit">
<input name="id" type="hidden" value="{$info.id}">
<button type="submit" class="button">保存</button> 
</div>

</form>
</div>
</div>
<script type="text/javascript">
//提交表单
var win = art.dialog.open.origin;
saveform({
	success:function(){
		win.location.reload();
    art.dialog.close();
	},
	failure:function(msg){
		tip({msg:msg});
	}}
);

</script>
</body>