
  
<div id="postmanage">
			<h4>
				分数管理
			</h4>
		<div class="borderk postk" style="overflow:hidden;">
				
			<a href="javascript:" onClick="add()"  class="sendlive">添加</a>
			</div>
			<table width="100%" cellspacing="0" class="oftentable">
				<tr class="bgth">
					<th>名称</th>
					<th>排序</th>
					
					
					<th width="130px">操作</th>
				</tr>
                  <!--foreach:{$list $vo}-->
				<tr>
					
					<td style="text-align:left" width="60%">
						{$vo.name}					</td>
					
					
                    <td>
				
				{$vo.sequence}
					</td>
					
					<td class="operation">
						<button>
							操作
						</button>
						<ul>
                        	
							<li>
								<a href="javascript:" onClick="edit({$vo.id})">
									编辑
								</a>
							</li>
							<li>
								<a href="javascript:;"  onClick="del({$vo.id},this)">
									删除
								</a>
							</li>
							
						</ul>
					</td>
				</tr>
				 <!--{/foreach}-->
			</table>
		</div>
 <script>
 function add(){
	urldialog({
		width:600,
	height:400,
	title:'分数操作',
	url:'__URL__/scoretype_add'
	});
	}
  function edit(id){
	urldialog({
		width:600,
	height:400,
	title:'分数操作',
	url:'__URL__/scoretype_edit/id-'+id,
	});
	}
//删除
function del(id,obj) {
	
	

	ajaxpost({
		name:'确定要删除此分数？',
		url:"__URL__/scoretype_del",
		data:{id: id},
		tip:1,
		success:function(){
			$(obj).parent().parent().parent().parent().remove();
		}
	});
}
</script>
