
<div id="signup" class="huodongsh">
			<h4>
				报名管理
			</h4>
		<div class="borderk postk" style="overflow:hidden;">
				
		
              <form  method="post"  enctype="multipart/form-data" id="form"> 
   	<input  type="text" placeholder="请选择文件" value=""/>
     <input class="shangc" type="file" name="file">  <a  type="submit" onClick="$('#form').submit();" >导入</a>
     </form>
   <a href="__ROOT__/excel/signup.xls">模板下载</a>   <form method="post" style="display:inline-block; vertical-align:middle;">
					 	<input  type="hidden" name="signup" value="1"/>
					<button>
						导出报名信息
					</button>
                    </form>
			</div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0"class="oftentable">
				<tr class="bgth">
       
       			 <th width="20%">名称</th>
       			   <th width="10%">联系手机</th>
                    <th width="20%">学籍号</th>
           			<th width="40%">班级</th>
       
        <th width="10%"><center>操作</center></th>
      </tr>
      <!--foreach:{$list $vo}-->
      <tr>
      
        <td>{$vo.name}</td>
        <td>{$vo.mobile}</td>
          <td>{$vo.schoolcode}</td>
       	 <td>{$bj[$vo['bj_id']]['grade']}年级{$bj[$vo['bj_id']]['class']}班</td>
      
       
       	<td class="operation">
						<button>
							操作
						</button>
						<ul>
                        	
						
							<li>
								<a href="javascript:;"  onClick="del({$vo.id},this)">
									删除
								</a>
							</li>
							
						</ul>
					</td>
      </tr>
      <!--{/foreach}-->
    </table>
		</div>
 <script>
 function add(){
	urldialog({
		width:600,
	height:400,
	title:'报名操作',
	url:'__URL__/signup_add'
	});
	}
  function edit(id){
	urldialog({
		width:600,
	height:400,
	title:'报名操作',
	url:'__URL__/signup_edit/id-'+id,
	});
	}
//删除
function del(id,obj) {
	
	

	ajaxpost({
		name:'确定要删除此报名？',
		url:"__URL__/signup_del",
		data:{id: id},
		tip:1,
		success:function(){
			$(obj).parent().parent().parent().parent().remove();
		}
	});
}
</script>
