
  
<div id="postmanage" class="huodongsh">
			<h4> 
				学生管理<span style="color:#f00; font-size:12px; padding-left:15px;">(先创建对应的班级，再导入学生信息)</span>
			</h4>
		<div class="borderk postk" style="overflow:hidden;">
				
			<a href="javascript:" onClick="add()"  class="sendlive">添加</a>
              <form  method="post"  enctype="multipart/form-data" id="form"> 
   	<input  type="text" placeholder="请选择文件" value=""/>
     <input class="shangc" type="file" name="file">  <a  type="submit" onClick="$('#form').submit();" >导入</a>
     
     </form>
   <a href="__ROOT__/excel/student.xls">模板下载</a>
			</div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0"class="oftentable">
				<tr class="bgth">
       
       			 <th width="15%">名称</th>
       			   <th width="17%">联系手机</th>
                    <th width="23%">学籍号</th>
           			<th width="20%">班级</th>
       
        <th width="10%"><center>操作</center></th>
      </tr>
      <!--foreach:{$list $vo}-->
      <tr>
      
        <td>{$vo.name}</td>
        <td>{$vo.mobile}</td>
          <td>{$vo.schoolcode}</td>
       	 <td>{$bj[$vo['bj_id']]['grade']}年级{$bj[$vo['bj_id']]['class']}班</td>
      
       
       	<td class="operation">
						<button>
							操作
						</button>
						<ul>
                        	
							<li>
								<a href="javascript:" onClick="edit({$vo.id})">
									编辑
								</a>
							</li>
							<li>
								<a href="javascript:;"  onClick="del({$vo.id},this)">
									删除
								</a>
							</li>
							
						</ul>
					</td>
      </tr>
      <!--{/foreach}-->
    </table>
    <div class="page">
     					 <ul class="pagination">
                                 {$page}
                                        </ul>
					 </div>	
		</div>
        
        
        
        
        <script>
	$("#form .shangc").change(function(){
		var file=$(this).val();
		var strFileName=file.replace(/^.+?\\([^\\]+?)(\.[^\.\\]*?)?$/gi,"$1");//文件名
		var FileExt=file.replace(/.+\./,""); //后缀名
		$(this).prev('input').val(strFileName+'.'+FileExt);
		
		if($(this).prev('input').val()=='.'){
			$(this).prev('input').val('请选择文件');
		}
	});
	
	

</script>

 <script>
 function add(){
	urldialog({
		width:600,
	height:300,
	title:'学生操作',
	url:'__URL__/student_add'
	});
	}
  function edit(id){
	urldialog({
		width:600,
	height:400,
	title:'学生操作',
	url:'__URL__/student_edit/id-'+id,
	});
	}
//删除
function del(id,obj) {
	
	

	ajaxpost({
		name:'确定要删除此学生？',
		url:"__URL__/student_del",
		data:{id: id},
		tip:1,
		success:function(){
			$(obj).parent().parent().parent().parent().remove();
		}
	});
}
</script>
