
  
<div id="postmanage">
			<h4>
				教师管理
			</h4>
		<div class="borderk postk" style="overflow:hidden;">
				
			<a href="javascript:" onClick="add()"  class="sendlive">添加</a>
			</div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0"class="oftentable">
				<tr class="bgth">
        <th width="10%"><center>头像</center></th>
        <th width="20%">名称</th>
          <th width="10%">职称</th>
           <th width="50%">介绍</th>
       
        <th width="10%"><center>操作</center></th>
      </tr>
      <!--foreach:{$list $vo}-->
      <tr>
        <td><center><img src="{$config.imageurl}{$vo.image}" height="40px" /></center></td>
        <td>{$vo.name}</td>
        <td>{$vo.title}</td>
         <td>{$vo.des}</td>
      
       
       	<td class="operation">
						<button>
							操作
						</button>
						<ul>
                        	
							<li>
								<a href="javascript:" onClick="edit({$vo.id})">
									编辑
								</a>
							</li>
							<li>
								<a href="javascript:;"  onClick="del({$vo.id},this)">
									删除
								</a>
							</li>
							
						</ul>
					</td>
      </tr>
      <!--{/foreach}-->
    </table>
		</div>
 <script>
 function add(){
	urldialog({
		width:600,
	height:400,
	title:'教师操作',
	url:'__URL__/teacher_add'
	});
	}
  function edit(id){
	urldialog({
		width:600,
	height:400,
	title:'教师操作',
	url:'__URL__/teacher_edit/id-'+id,
	});
	}
//删除
function del(id,obj) {
	
	

	ajaxpost({
		name:'确定要删除此教师？',
		url:"__URL__/teacher_del",
		data:{id: id},
		tip:1,
		success:function(){
			$(obj).parent().parent().parent().parent().remove();
		}
	});
}
</script>
